<html lang="zxx">
<head>
  <style media="screen">
    body {
      background-color:#000 !important;
    }
    h1 {
      color:#181818 !important;
    }
    table,th,td {
      border:1px solid;
      border-spacing: 0 !important;
    }
    th,td {
      padding: 0 5px;
    }
  </style>



    <!-- Google Tag Manager -->
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-TAGCODE"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-TAGCODE"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TAGCODE');</script>
    <!-- End Google Tag Manager -->
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="https://infless.vn/wp-content/themes/Biznexx/assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://infless.vn/wp-content/themes/Biznexx/assets/css/magnific-popup.css">
    <link type="text/css" rel="stylesheet" href="https://infless.vn/wp-content/themes/Biznexx/assets/css/jquery.selectBox.css">
    <link type="text/css" rel="stylesheet" href="https://infless.vn/wp-content/themes/Biznexx/assets/css/rangeslider.css">
    <link type="text/css" rel="stylesheet" href="https://infless.vn/wp-content/themes/Biznexx/assets/css/animate.min.css">
    <link type="text/css" rel="stylesheet" href="https://infless.vn/wp-content/themes/Biznexx/assets/css/jquery.mCustomScrollbar.css">
    <link type="text/css" rel="stylesheet" href="https://infless.vn/wp-content/themes/Biznexx/assets/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="https://infless.vn/wp-content/themes/Biznexx/assets/fonts/flaticon/font/flaticon.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="https://infless.vn/wp-content/themes/Biznexx/assets/css/style.css">
    <link type="text/css" rel="stylesheet" href="https://infless.vn/wp-content/themes/Biznexx/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="https://infless.vn/wp-content/themes/Biznexx/assets/css/skins/default.css">

<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/40/3/intl/vi_ALL/common.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/40/3/intl/vi_ALL/util.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps/api/js/AuthenticationService.Authenticate?1shttps%3A%2F%2Fstorage.googleapis.com%2Fthemevessel-products%2Fbiznex%2Fmain%2Fpages-404.html&amp;4sAIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE&amp;callback=_xdc_._t25i4l&amp;key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE&amp;token=56459"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/47/3/intl/vi_ALL/common.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/47/3/intl/vi_ALL/util.js"></script></head>
<body data-rsssl="1" id="top">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TAGCODE"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page_loader" style="display: none;"></div>

<!-- pages-404 start -->
<div class="pages-404 content-area-7">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pages-404-inner">
                    <h1>404</h1>
                    <div class="e404">
                        <h3>Không tìm thấy trang này</h3>
                        <a class="btn btn-border btn-sm" href="/" role="button">Về trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pages-404 end -->

<!-- External JS libraries -->
<script src="https://infless.vn/wp-content/themes/Biznexx/assets/js/jquery-2.2.0.min.js"></script>
<script src="https://infless.vn/wp-content/themes/Biznexx/assets/js/popper.min.js"></script>
<script src="https://infless.vn/wp-content/themes/Biznexx/assets/js/bootstrap.min.js"></script>
<script src="https://infless.vn/wp-content/themes/Biznexx/assets/js/jquery.selectBox.js"></script>
<script src="https://infless.vn/wp-content/themes/Biznexx/assets/js/rangeslider.js"></script>
<script src="https://infless.vn/wp-content/themes/Biznexx/assets/js/jquery.magnific-popup.min.js"></script>
<script src="https://infless.vn/wp-content/themes/Biznexx/assets/js/jquery.filterizr.js"></script>
<script src="https://infless.vn/wp-content/themes/Biznexx/assets/js/wow.min.js"></script>
<script src="https://infless.vn/wp-content/themes/Biznexx/assets/js/backstretch.js"></script>
<script src="https://infless.vn/wp-content/themes/Biznexx/assets/js/jquery.countdown.js"></script>
<script src="https://infless.vn/wp-content/themes/Biznexx/assets/js/jquery.scrollUp.js"></script>
<script src="https://infless.vn/wp-content/themes/Biznexx/assets/js/particles.min.js"></script>
<script src="https://infless.vn/wp-content/themes/Biznexx/assets/js/typed.min.js"></script>
<script src="https://infless.vn/wp-content/themes/Biznexx/assets/js/jquery.mb.YTPlayer.js"></script>
<script src="https://infless.vn/wp-content/themes/Biznexx/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE"></script>
<script src="https://infless.vn/wp-content/themes/Biznexx/assets/js/ie-emulation-modes-warning.js"></script>
<!-- Custom JS Script -->
<script src="https://infless.vn/wp-content/themes/Biznexx/assets/js/app.js"></script>


<a id="page_scroller" href="#top" style="display: none; position: fixed; z-index: 2147483647;"><i class="fa fa-chevron-up"></i></a>
</body>
</html>
