<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test</title>

    <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />

    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

  </head>
  <body>
    <p>Your authToken is: <%- authToken %></p>
    <button id="sign-in">Sign In</button>

    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.9/firebase-app.js";
      import { getAuth } from "https://www.gstatic.com/firebasejs/9.6.9/firebase-auth.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration
      const firebaseConfig = {
        apiKey: "AIzaSyA55RLyd-DL6oF50Ijb6f8TY5ev9LcnV-A",
        authDomain: "fundmntsystem.firebaseapp.com",
        projectId: "fundmntsystem",
        storageBucket: "fundmntsystem.appspot.com",
        messagingSenderId: "907222202776",
        appId: "1:907222202776:web:5c7cf5d2e49f6c7e1393ed"
      };


      firebase.initializeApp(firebaseConfig);

      // Google provider
      var provider = new firebase.auth.GoogleAuthProvider();

      document.getElementById("sign-in").addEventListener("click", function() {
        firebase.auth()
        .signInWithPopup(provider)
        .then((result) => {
          /** @type {firebase.auth.OAuthCredential} */
          var credential = result.credential;

          // This gives you a Google Access Token. You can use it to access the Google API.
          var token = credential.accessToken;
          // The signed-in user info.
          var user = result.user;
          // ...
          console.log('Success!!! ');
          console.log('Token: ', token);
          console.log('User: ',user);
          console.log('===================');

          let data = {authToken: token}; // Firebase token

          fetch("/devtest", {
            method: "POST",
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data)
          }).then(res => res.json())
            .then(res => console.log(res))
            .catch(err => console.log(err));
        }).catch((error) => {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          // The email of the user's account used.
          var email = error.email;
          // The firebase.auth.AuthCredential type that was used.
          var credential = error.credential;
          // ...
        });
      });


      /*// Sign in from redirect
      firebase.auth()
        .getRedirectResult()
        .then((result) => {
          if (result.credential) {
            //** @type {firebase.auth.OAuthCredential}
            var credential = result.credential;

            // This gives you a Google Access Token. You can use it to access the Google API.
            var token = credential.accessToken;
            // ...
            console.log('Success!!! ');
            console.log('Token: ', token);
            console.log('===================');

            let data = {authToken: token}; // Firebase token

            fetch("/devtest", {
              method: "POST",
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify(data)
            }).then(res => res.json())
              .then(res => console.log(res))
              .catch(err => console.log(err));
          }
          // The signed-in user info.
          var user = result.user;
        }).catch((error) => {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          // The email of the user's account used.
          var email = error.email;
          // The firebase.auth.AuthCredential type that was used.
          var credential = error.credential;
          // ...
          console.log('ERROR: ', errorCode, errorMessage);
        });*/



    </script>
  </body>
</html>
