<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('head.ejs',{page_name:'Trang quản lý'}) %>
<body>
  <div class="btn btn-primary" id="test-btn">Test</div>
  <div id="test-results"></div>
  <script>
    let testBtn = document.getElementById("test-btn");
    testBtn.addEventListener("click", myFunction);

    function myFunction(){
      fetch("/app/login", {
        method: "POST",
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
          username: 'usrnm',
          password: 'pswd'
        })
      }).then(res => res.json())
      .then(res => {
        console.log(res);
      })
      .catch(err => {
        console.log(err);
      });
    }
  </script>
</body>
</html>
