<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('head.ejs',{page_name:'Trang quản lý'}) %>
  <script src="socket.io/socket.io.js"></script>
<body>
  <div class="btn btn-primary" id="test-btn">Test</div>
  <div id="test-results"></div>
  <div id='myChart'></div>
  <script>
		var socket = io("/");
    let testBtn = document.getElementById("test-btn");
    testBtn.addEventListener("click", myFunction);

    function myFunction(){
      fetch("/ami?ticker=TEST&DateTime=2022-09-02 20:52:30&price=7&vol=10&key=tungdeptrai", {
        method: "POST",
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({})
      }).then(res => res.json())
      .then(res => {
        console.log(res);
      })
      .catch(err => {
        console.log(err);
      });
    }

    // Socket msg
    socket.on('apiResponse', function(data) {
      console.log(data);
    });

    socket.on('phongThan', function(data) {
      console.log('Phong than:');
      console.log(data);
    })

    
  </script>
</body>
</html>
