<div class="tooltip-bg">
  <table class="tooltiptext text-right" id="phanBoVonTooltip" style="width:100%">
    <tbody>
      <tr>
        <th></th>
        <th rowspan="2"></th>
        <th rowspan="2">Giá trị tài sản</th>
        <th colspan="2">Rủi ro cao</th>
        <th colspan="2">Rủi ro thấp</th>
      </tr>
      <tr>
        <th></th>
        <th>Số mã</th>
        <th>Phân bổ vốn</th>
        <th>Số mã</th>
        <th>Phân bổ vốn</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>300.000.000</td>
        <td>3</td>
        <td>100.000.000</td>
        <td>4</td>
        <td>75.000.000</td>
      </tr>
      <tr>
        <td></td>
        <td rowspan="2">Trong khoảng</td>
        <td>300.000.000</td>
        <td>3</td>
        <td>100.000.000</td>
        <td>5</td>
        <td>60.000.000</td>
      </tr>
      <tr>
        <td></td>
        <td>500.000.000</td>
        <td>3</td>
        <td>166.666.667</td>
        <td>5</td>
        <td>100.000.000</td>
      </tr>
      <tr>
        <td></td>
        <td rowspan="2">Trong khoảng</td>
        <td>500.000.000</td>
        <td>5</td>
        <td>100.000.000</td>
        <td>6</td>
        <td>83.333.333</td>
      </tr>
      <tr>
        <td></td>
        <td>1.000.000.000</td>
        <td>5</td>
        <td>200.000.000</td>
        <td>6</td>
        <td>166.666.667</td>
      </tr>
      <tr>
        <td></td>
        <td rowspan="2">Trong khoảng</td>
        <td>1.000.000.000</td>
        <td>5</td>
        <td>200.000.000</td>
        <td>6</td>
        <td>166.666.667</td>
      </tr>
      <tr>
        <td></td>
        <td>2.000.000.000</td>
        <td>5</td>
        <td>400.000.000</td>
        <td>6</td>
        <td>333.333.333</td>
      </tr>
      <tr>
        <td></td>
        <td rowspan="2">Trong khoảng</td>
        <td>2.000.000.000</td>
        <td>5</td>
        <td>400.000.000</td>
        <td>7</td>
        <td>285.714.286</td>
      </tr>
      <tr>
        <td></td>
        <td>3.000.000.000</td>
        <td>5</td>
        <td>600.000.000</td>
        <td>7</td>
        <td>428.571.429</td>
      </tr>
      <tr>
        <td></td>
        <td rowspan="2">Trong khoảng</td>
        <td>3.000.000.000</td>
        <td>5</td>
        <td>600.000.000</td>
        <td>7</td>
        <td>428.571.429</td>
      </tr>
      <tr>
        <td></td>
        <td>5.000.000.000</td>
        <td>7</td>
        <td>714.285.714</td>
        <td>9</td>
        <td>555.555.555</td>
      </tr>
      <tr>
        <td></td>
        <td rowspan="2">Trong khoảng</td>
        <td>5.000.000.000</td>
        <td>7</td>
        <td>714.285.714</td>
        <td>9</td>
        <td>555.555.555</td>
      </tr>
      <tr>
        <td></td>
        <td>7.000.000.000</td>
        <td>9</td>
        <td>777.777.778</td>
        <td>11</td>
        <td>636.363.636</td>
      </tr>
      <tr>
        <td></td>
        <td rowspan="2">Trong khoảng</td>
        <td>7.000.000.000</td>
        <td>9</td>
        <td>777.777.778</td>
        <td>11</td>
        <td>636.363.636</td>
      </tr>
      <tr>
        <td></td>
        <td>9.000.000.000</td>
        <td>11</td>
        <td>818.181.818</td>
        <td>13</td>
        <td>692.307.692</td>
      </tr>
    </tbody>
  </table>
</div>
