<!-- Footer start -->
<footer class="footer">
    <div class="container footer-inner">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <div class="footer-item">
                    <h4>Liên hệ</h4>
                    <ul class="contact-info">
                      <li>
                          CÔNG TY CỔ PHẦN INFLESS INVESTMENT
                      </li>
                        <li>
                            Địa chỉ: Tầng 2, Số 59 Ngõ 112 Mễ Trì Thượng, Nam Từ Liêm, Hà Nội
                        </li>
                        <li>
                            Email: <a href="mailto:contact@infless.vn">contact@infless.vn</a>
                        </li>
                        <li>
                            Điện thoại: <a href="tel:+84973735582">0973.735.582</a>
                        </li>

                    </ul>

                    <ul class="social-icons clearfix">

                      <li class="facebook" style="background-color: #f0f0f0">
                      <a href="https://www.facebook.com/inflessinvestment/" target="_blank">Facebook</a>
                      </li>

                      <li class="youtube" style="background-color: #f0f0f0">
                      <a href="https://www.youtube.com/channel/UC9U2yRfzCH5XB4PerHOopdA" target="_blank">YouTube</a>
                      </li>

                    </ul>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <div class="footer-item clearfix">
                    <h4>Subscribe</h4>

                    <div class="Subscribe-box">
                      <p>Chúng tôi muốn liên hệ lại và tìm hiểu nhu cầu của bạn:</p>
                      <!-- Contact form 1 start -->
                      <div role="form" class="wpcf7" id="wpcf7-f197-o1" lang="en-US" dir="ltr">
                      <div class="screen-reader-response"></div>
                      <form action="/#wpcf7-f197-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                      <div style="display: none;">
                      <input type="hidden" name="_wpcf7" value="197">
                      <input type="hidden" name="_wpcf7_version" value="5.1.7">
                      <input type="hidden" name="_wpcf7_locale" value="en_US">
                      <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f197-o1">
                      <input type="hidden" name="_wpcf7_container_post" value="0">
                      </div>
                      <p><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Họ và tên"></span><br>
                      <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email" aria-invalid="false" placeholder="Email"></span><br>
                      <span class="wpcf7-form-control-wrap your-phone"><input type="tel" name="your-phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Điện thoại"></span><br>
                      <input type="submit" value="Gửi yêu cầu" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span></p>
                      <div class="wpcf7-response-output wpcf7-display-none"></div></form></div>                      <!-- Contact form 1 end -->
                    </div>

                </div>
            </div>
        </div>

        <!-- External JS libraries -->
      	<script src="/assets/js/jquery-2.2.0.min.js"></script>
      	<script src="/assets/js/popper.min.js"></script>
      	<script src="/assets/js/bootstrap.min.js"></script>
      	<script src="/assets/js/jquery.selectBox.js"></script>
      	<script src="/assets/js/rangeslider.js"></script>
      	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
      	<script src="/assets/js/jquery.filterizr.js"></script>
      	<script src="/assets/js/wow.min.js"></script>
      	<script src="/assets/js/backstretch.js"></script>
      	<script src="/assets/js/jquery.countdown.js"></script>
      	<!--script src="<?php bloginfo('template_directory') ?>/assets/js/jquery.scrollUp.js"></script-->
      	<!--script src="<?php bloginfo('template_directory') ?>/assets/js/particles.min.js"></script-->
      	<script src="/assets/js/typed.min.js"></script>
      	<script src="/assets/js/jquery.mb.YTPlayer.js"></script>
      	<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
      	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE"></script>
      	<script src="/assets/js/ie-emulation-modes-warning.js"></script>
      	<!-- Custom JS Script -->
        <script src="/assets/js/app.js"></script>

        <!-- Lower taskbar start -->

        <div class="taskbar-bottom">
          <div class="container">
            <div class="row">
              <div class="taskbar-button col-lg-2 col-md-2 col-sm-2 col-2 text-center">
                <div>
                  <a  class="taskbar-bottom-icon" href="tel:+84973735582" target="_blank" rel="noopener noreferrer" ><i class="fa fa-phone" aria-hidden="true"></i></a>
                </div>
                Gọi chúng tôi
              </div>
              <div class="taskbar-button col-lg-3 col-md-3 col-sm-3 col-3 text-center">
                <div>
                  <a  class="taskbar-bottom-icon" href="https://zalo.me/g/mhyyza156" target="_blank" rel="noopener noreferrer" ><i class="fa fa-comments-o" aria-hidden="true"></i></a>
                </div>
                Diễn đàn
              </div>
              <div class="taskbar-button col-lg-2 col-md-2 col-sm-2 col-2 text-center">
                <div>
                  <a  class="taskbar-bottom-icon" href="https://www.facebook.com/inflessinvestment/" target="_blank" rel="noopener noreferrer" ><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                </div>
                Facebook
              </div>
              <div class="taskbar-button col-lg-3 col-md-3 col-sm-3 col-3 text-center">
                <div>
                  <a  class="taskbar-bottom-icon" href="/securities/login" target="_blank" rel="noopener noreferrer" ><i class="fa fa-line-chart" aria-hidden="true"></i></a>
                </div>
                Copytrade
              </div>
              <div class="taskbar-button col-lg-2 col-md-2 col-sm-2 col-2 text-center">
                <div>
                  <a  class="taskbar-bottom-icon" href="/securities/shop-category" target="_blank" rel="noopener noreferrer" ><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                </div>
                Cửa hàng
              </div>
            </div>

          </div>
        </div>

        <!-- Lower taskbar end -->

        <div class="row copyright">
            <div class="col-xl-12">
                <p class="copy">&copy; 2022 Infless Investment. Trademarks and brands are the property of their respective owners.</p>
            </div>
        </div>
    </div>
    <!-- Modal for 1st visitors -->
    <script type="text/javascript">
      $(document).ready(function() {
          if(localStorage.getItem('popState') != 'shown') {
              $("#first_visit_Modal").delay(2000).fadeIn();
              localStorage.setItem('popState','shown')
          }
      });
    </script>
    <div id="first_visit_Modal">

    </div>
</footer>
<!-- Footer end -->
