<%- include('webheader.ejs') %>

	<!-- Banner start -->
	<div class="banner banner-bg" id="particles-banner-wrapper">
	    <div id="particles-banner">
	    	<!--canvas class="particles-js-canvas-el" width="1903" height="937" style="width: 100%; height: 100%;"></canvas-->
	    </div>
	    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	        <div class="carousel-inner">
	            <div class="carousel-item item-bg active">
	                <div class="carousel-caption banner-slider-inner d-flex text-center">
	                    <div class="carousel-content container">
	                        <div class="text-c">
	                            <h1 data-animation="animated fadeInDown delay-05s" class="wow fadeInDown">Gia tăng giá trị của bạn</h1>
	                            <p data-animation="animated fadeInUp delay-10s" class="wow fadeInUp">Tư vấn đầu tư với hiệu quả vượt trội</p>
	                            <a data-animation="animated fadeInUp delay-10s" href="/register" class="btn btn-lg btn-round btn-theme wow fadeInUp">Tham gia ngay</a>
	                            <a data-animation="animated fadeInUp delay-10s" href="#services" class="btn btn-lg btn-round btn-white-lg-outline wow fadeInUp">Tìm hiểu thêm</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="carousel-item item-bg">
	                <div class="carousel-caption banner-slider-inner d-flex text-left">
	                    <div class="carousel-content container">
	                        <div class="text-l">
	                            <h1 data-animation="animated fadeInDown delay-05s" class="wow fadeInDown">Người đồng hành tin cậy</h1>
	                            <p data-animation="animated fadeInUp delay-10s" class="wow fadeInUp">Đề cao tinh thần hợp tác cùng phát triển</p>
	                            <a data-animation="animated fadeInUp delay-10s" href="/register" class="btn btn-lg btn-round btn-theme wow fadeInUp">Tham gia ngay</a>
	                            <a data-animation="animated fadeInUp delay-10s" href="#services" class="btn btn-lg btn-round btn-white-lg-outline wow fadeInUp">Tìm hiểu thêm</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="carousel-item item-bg">
	                <div class="carousel-caption banner-slider-inner d-flex text-left">
	                    <div class="carousel-content container">
	                        <div class="text-r">
	                            <h1 data-animation="animated fadeInDown delay-05s" class="wow fadeInDown">Công tâm và minh bạch</h1>
	                            <p data-animation="animated fadeInUp delay-10s" class="wow fadeInUp">Tôn trọng luật pháp - Hành động trung thực</p>
	                            <a data-animation="animated fadeInUp delay-10s" href="/register" class="btn btn-lg btn-round btn-theme wow fadeInUp">Tham gia ngay</a>
	                            <a data-animation="animated fadeInUp delay-10s" href="#services" class="btn btn-lg btn-round btn-white-lg-outline wow fadeInUp">Tìm hiểu thêm</a>
	                        </div>
	                    </div>
	                </div>
	            </div>

	        </div>
	        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	            <span class="slider-mover-left" aria-hidden="true">
	                <i class="fa fa-angle-left"></i>
	            </span>
	        </a>
	        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	            <span class="slider-mover-right" aria-hidden="true">
	                <i class="fa fa-angle-right"></i>
	            </span>
	        </a>
	    </div>
	</div>
	<!-- banner end -->

	<!-- Separator with title start -->
	<div class="separator">
	</div>
	<!-- Separator with title end -->

	<!-- Product slide full bg start -->
	<!--Carousel Wrapper-->
		<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
		  <!--Indicators-->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-2" data-slide-to="1"></li>
		    <li data-target="#carousel-example-2" data-slide-to="2"></li>
		    <li data-target="#carousel-example-2" data-slide-to="3"></li>
		    <li data-target="#carousel-example-2" data-slide-to="4"></li>
		    <li data-target="#carousel-example-2" data-slide-to="5"></li>
		  </ol>
		  <!--/.Indicators-->

			<!-- Title start -->
      <div class="container">
				<div class="carousel-title">
					<div class="text-center">
					<h3 data-animation="animated fadeInDown delay-05s" class="text-white wow fadeInDown" style="visibility: hidden; animation-name: none;">Hệ thống hỗ trợ giao dịch</h3>
					<h1 data-animation="animated fadeInDown delay-05s" class="wow fadeInDown" style="visibility: hidden; animation-name: none;">Số 1 Việt Nam</h1>
					</div>
				</div>
			</div>
			<!-- Title end -->

		  <!--Slides-->
      <div class="carousel-inner" role="listbox">

						<div class="carousel-item">
							<div class="view">
								<div class="dark-overlay">
								</div>
								<img src="assets/img/products/abs-e1584453125588.png" alt="product_img" class="d-block w-100">
				        <div class="mask rgba-black-light"></div>
				      </div>
				      <div class="carousel-caption carousel-caption-t40">
				        <h3 class="h3-responsive wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Chỉ báo ABS (Advanced Buy Sell)</h3>
				        <a class="mg-bt-15 btn btn-lg btn-round btn-theme wow fadeInDown" href="/he-thong-ho-tro-giao-dich-infless/" style="visibility: visible; animation-name: fadeInDown;">Tải về</a>
				      </div>

						</div>
						<div class="carousel-item active">
							<div class="view">
								<div class="dark-overlay">
								</div>
								<img src="assets/img/products/irb.png" alt="product_img" class="d-block w-100">
				        <div class="mask rgba-black-light"></div>
				      </div>
				      <div class="carousel-caption carousel-caption-t40">
				        <h3 class="h3-responsive wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Chỉ báo xu hướng IRB (INFLESS Rainbow)</h3>
				        <a class="mg-bt-15 btn btn-lg btn-round btn-theme wow fadeInDown" href="/he-thong-ho-tro-giao-dich-infless/" style="visibility: visible; animation-name: fadeInDown;">Tải về</a>
				      </div>

						</div>
						<div class="carousel-item">
							<div class="view">
								<div class="dark-overlay">
								</div>
								<img src="assets/img/products/spi.png" alt="product_img" class="d-block w-100">
				        <div class="mask rgba-black-light"></div>
				      </div>
				      <div class="carousel-caption carousel-caption-t40">
				        <h3 class="h3-responsive wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Chỉ báo SPI (Speed Price Indicator)</h3>
				        <a class="mg-bt-15 btn btn-lg btn-round btn-theme wow fadeInDown" href="/he-thong-ho-tro-giao-dich-infless/" style="visibility: visible; animation-name: fadeInDown;">Tải về</a>
				      </div>

						</div>
						<div class="carousel-item">
							<div class="view">
								<div class="dark-overlay">
								</div>
								<img src="assets/img/products/kdj.png" alt="product_img" class="d-block w-100">
				        <div class="mask rgba-black-light"></div>
				      </div>
				      <div class="carousel-caption carousel-caption-t40">
				        <h3 class="h3-responsive wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Chỉ báo KDJ</h3>
				        <a class="mg-bt-15 btn btn-lg btn-round btn-theme wow fadeInDown" href="/he-thong-ho-tro-giao-dich-infless/" style="visibility: visible; animation-name: fadeInDown;">Tải về</a>
				      </div>

						</div>
						<div class="carousel-item">
							<div class="view">
								<div class="dark-overlay">
								</div>
								<img src="assets/img/products/amf.png" alt="product_img" class="d-block w-100">
				        <div class="mask rgba-black-light"></div>
				      </div>
				      <div class="carousel-caption carousel-caption-t40">
				        <h3 class="h3-responsive wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Chỉ báo dòng tiền AMF (Advanced Money Flow)</h3>
				        <a class="mg-bt-15 btn btn-lg btn-round btn-theme wow fadeInDown" href="/he-thong-ho-tro-giao-dich-infless/" style="visibility: visible; animation-name: fadeInDown;">Tải về</a>
				      </div>

						</div>
						<div class="carousel-item">
							<div class="view">
								<div class="dark-overlay">
								</div>
								<img src="assets/img/products/vap.png" alt="product_img" class="d-block w-100">
				        <div class="mask rgba-black-light"></div>
				      </div>
				      <div class="carousel-caption carousel-caption-t40">
				        <h3 class="h3-responsive wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Chỉ báo khối lượng nâng cao VAP (Volume At Price)</h3>
				        <a class="mg-bt-15 btn btn-lg btn-round btn-theme wow fadeInDown" href="/he-thong-ho-tro-giao-dich-infless/" style="visibility: visible; animation-name: fadeInDown;">Tải về</a>
				      </div>

						</div>


		  </div>
		  <!--/.Slides-->
		  <!--Controls-->
		  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		  <!--/.Controls-->
		</div>
		<!--/.Carousel Wrapper-->
	<!-- Product slide full bg end -->


	<!-- Separator with title start -->
	<div class="separator">
	</div>
	<!-- Separator with title end -->



	<!-- Visions start -->
  <div class="visions">
		<div class="dark-overlay">
		</div>
		<div class="container">
			<div class="row wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">

				<div class="col-lg-12">
					<div class="row">

						<div class="col-lg-6 blank-block">
						</div>

						<div class="col-lg-6">
							<div class="visions-intro">
								<h1>Tầm nhìn</h1>
							</div>
							<div class="visions-contents">
								<h5 class="text-white wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Trở thành một trong những Công ty mạnh, chuyên nghiệp và có uy tín hàng đầu trong lĩnh vực dịch vụ Tư vấn và Đầu tư Tài chính</h5>							</div>

							<div class="col-lg-12 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
								<h1>Sứ mệnh</h1>
							</div>

							<div class="col-lg-12">
		 								<h5 class="text-white wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Cung cấp các sản phẩm, dịch vụ tư vấn và đầu tư cổ phiếu, trái phiếu, hàng hóa, vàng, ngoại hối... trong và ngoài nước với hiệu quả vượt trội, nhằm gia tăng giá trị của khách hàng</h5>
									</div><div class="col-lg-12">
		 								<h5 class="text-white wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Đề cao tinh thần hợp tác cùng phát triển; cam kết trở thành “Người đồng hành tin cậy” của các khách hàng; năng động, sáng tạo tìm mọi biện pháp gia tăng các giá trị đầu tư hấp dẫn và bền vững</h5>
									</div><div class="col-lg-12">
		 								<h5 class="text-white wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Xây dựng môi trường làm việc chuyên nghiệp, bảo đảm tính nhân văn và cạnh tranh; tạo điều kiện thu nhập cao và cơ hội phát triển công bằng cho tất cả người lao động</h5>
									</div><div class="col-lg-12">
		 								<h5 class="text-white wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Tôn trọng luật pháp; hành động trung thực, công tâm và minh bạch</h5>
									</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Visions end -->





	<!-- Managment area start -->
  <div class="managment-area-2 content-area-10">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-5 col-md-5">
	                <div class="managment-info">
	                    <h1 class="text-left wow fadeInUp" style="visibility: hidden; animation-name: none;"><span>Tại sao</span> chọn chúng tôi?</h1>
	                    <div class="managment-border-"></div>
	                    <ul>
	                        <li class="wow fadeInUp" style="visibility: hidden; animation-name: none;">
														<i class="flaticon-up-arrow"></i>
														<h5>Đội ngũ chuyên gia giàu kinh nghiệm</h5>
														INFLESS Investment quy tu đội ngũ các chuyên gia điều hành và đầu tư dày dặn kinh nghiệm với nhiều năm làm việc tại các tổ chức tài chính trong nước. Chúng tôi sẽ mang đến những giải pháp đầu tư phù hợp với nhu cầu của từng quý khách hàng.
                          </li>
													<li class="wow fadeInUp" style="visibility: hidden; animation-name: none;">
														<i class="flaticon-up-arrow"></i>
														<h5>Hệ thống đầu tư chuyên nghiệp</h5>
														Các hạng mục đầu tư của công ty đều đi theo nguyên tắc đầu tư đã được đội ngũ chuyên gia xây dựng và kiểm nghiệm trong nhiều năm
                          </li>
	                    </ul>
	                </div>
	            </div>
	            <div class="col-lg-6 col-md-7 offset-lg-1">
	                <div class="managment-slider wow zoomIn fadeIn" style="visibility: hidden; animation-name: none;">
											<img src="assets/img/1632x969.jpg" alt="" class="w-100">
											<div id="services" style="height:1px"></div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- Managment area end -->
	<!-- services start -->
  <div class="services content-area-2 bg-grea" id="services">
	    <div class="container">
	        <div class="main-title">
	            <h1 class="wow fadeInDown" style="visibility: hidden; animation-name: none;"><span>Dịch vụ</span> của chúng tôi</h1>
	           <p class="wow fadeInUp" style="visibility: hidden; animation-name: none;">Đáp ứng đầy đủ các nhu cầu của nhà đầu tư</p>
	        </div>

												<div class="row">
																	<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="media services-info wow fadeInUp" style="visibility: hidden; animation-name: none;">
													<i class="flaticon-social"></i>
													<div class="media-body">
															<h5>Hệ thống hỗ trợ giao dịch INFLESS</h5>
															<p>Hỗ trợ việc ra quyết định trong các giao dịch chứng khoán cơ sở, chứng khoán phái sinh, chứng khoán quốc tế, ngoại hối, hàng hóa... Cài đặt nhanh và giao diện dễ sử dụng. Giúp cải thiện chất lượng đầu tư, tỷ lệ thành công tăng rõ rệt.</p>
													</div>
											</div>
									</div>
																	<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="media services-info wow fadeInUp" style="visibility: hidden; animation-name: none;">
													<i class="flaticon-graphic"></i>
													<div class="media-body">
															<h5>Dịch vụ hỗ trợ đầu tư chứng khoán</h5>
															<p>Hỗ trợ khách hàng mở tài khoản chứng khoán, tư vấn đầu tư, hướng dẫn sử dụng các hệ thống đặt lệnh mua bán, và bất kỳ dịch vụ tiện ích nào khác trong giao dịch chứng khoán.</p>
													</div>
											</div>
									</div>
																	<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="media services-info wow fadeInUp" style="visibility: hidden; animation-name: none;">
													<i class="flaticon-up-arrow"></i>
													<div class="media-body">
															<h5>Dịch vụ hợp tác đầu tư</h5>
															<p>Khách hàng có nhu cầu đầu tư nhưng không có thời gian tham gia và theo sát thị trường có thể góp vốn để INFLESS quản lý và thực hiện kinh doanh vốn theo quy định pháp luật.</p>
													</div>
											</div>
									</div>
														</div>



	    </div>
	</div>
	<!-- services end -->


	<!-- Testimonial 1 start -->
  <div class="testimonial-1 overview-bgi">
	    <div class="container">
	        <div class="row">
	            <div class="offset-lg-2 col-lg-8">
	                <div class="testimonial-inner">
	                    <header class="testimonia-header wow fadeInUp" style="visibility: hidden; animation-name: none;">
	                        <h1><span>Khách hàng</span> nói về chúng tôi</h1>
	                    </header>
	                    <div id="carouselExampleIndicators7" class="carousel slide" data-ride="carousel">
											  <div class="carousel-inner">
												  <div class="carousel-item">
													  <div class="row">
																<!--<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12"></div-->
																<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
																		<p class="lead">"Lợi nhuận cao hơn nhiều so với gửi ngân hàng mà không phải lo nghĩ quản lý."</p>
																		<div class="author-name">anh Nguyễn Đắc Sử</div>
																		<ul class="rating">
																				<li><i class="fa fa-star"></i></li>
																				<li><i class="fa fa-star"></i></li>
																				<li><i class="fa fa-star"></i></li>
																				<li><i class="fa fa-star"></i></li>
																				<li><i class="fa fa-star-half-full"></i></li>
																		</ul>
																</div>
															</div>
														</div>
                            <div class="carousel-item active">
                              <div class="row">
                              <!--<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12"></div-->
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <p class="lead">"Chiến lược mà INFLESS mang đến là hiệu quả hơn các kênh đầu tư khác và mang tính ổn định lâu dài."</p>
                                  <div class="author-name">chị Hoàng Bích Hạnh</div>
                                  <ul class="rating">
                                  		<li><i class="fa fa-star"></i></li>
                                  		<li><i class="fa fa-star"></i></li>
                                  		<li><i class="fa fa-star"></i></li>
                                  		<li><i class="fa fa-star"></i></li>
                                  		<li><i class="fa fa-star-half-full"></i></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="carousel-item ">
                              <div class="row">
                              <!--<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12"></div-->
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                  <p class="lead">"Sau một thời gian đầu tư thì hiệu quả sinh lời đã vượt ngưỡng mong đợi, thay đổi hoàn toàn cách suy nghĩ của mình lúc ban đầu."</p>
                                  <div class="author-name">ông Lê Văn Thiêm</div>
                                  <ul class="rating">
                                  		<li><i class="fa fa-star"></i></li>
                                  		<li><i class="fa fa-star"></i></li>
                                  		<li><i class="fa fa-star"></i></li>
                                  		<li><i class="fa fa-star"></i></li>
                                  		<li><i class="fa fa-star-half-full"></i></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>

	                        <a class="carousel-control-prev" href="#carouselExampleIndicators7" role="button" data-slide="prev">
	                            <span class="slider-mover-left" aria-hidden="true">
	                                <i class="fa fa-angle-left"></i>
	                            </span>
	                        </a>
	                        <a class="carousel-control-next" href="#carouselExampleIndicators7" role="button" data-slide="next">
	                            <span class="slider-mover-right" aria-hidden="true">
	                                <i class="fa fa-angle-right"></i>
	                            </span>
	                        </a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- Testimonial 1 end -->
	<!-- Blog start -->
  <div class="blog content-area-2">
	    <div class="container">
	        <div class="main-title wow fadeInUp" style="visibility: hidden; animation-name: none;">
	            <h1><span>Tin tức</span> mới nhất</h1>
	            <p>Check out some recent news posts.</p>
	        </div>
	        <div class="row">

							<div class="col-lg-4 col-md-12">
								<div class="blog-1 wow fadeInUp" style="visibility: hidden; animation-name: none;">
									<div class="blog-photo">
  									<img width="512" height="341" src="assets/img/blog/tu-van-tai-chinh-doanh-nghiep.png" class="img-fluid wp-post-image" alt="">
                    <div class="profile-user"></div>
									</div>
									<div class="detail">
										<div class="date-box"><span>01/04</span>2021</div>
										<h3><a href="https://infless.vn/tuyen-dung-cong-tac-vien-kinh-doanh.html/">Cộng tác viên kinh doanh</a></h3>
											<p>Vị trí: Cộng tác viên kinh doanh Số lượng: 10 Thời gian nhận hồ sơ: đến hết ngày […]</p>
											<a href="https://infless.vn/tuyen-dung-cong-tac-vien-kinh-doanh.html/" class="read-more">Đọc thêm</a>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-12">
								<div class="blog-1 wow fadeInUp" style="visibility: hidden; animation-name: none;">
									<div class="blog-photo">
											<img width="1500" height="1000" src="assets/img/blog/1500x100.png" class="img-fluid wp-post-image" alt="" srcset="assets/img/blog/1500x100.png 1500w, assets/img/blog/1500x100-768x512.png 768w" sizes="(max-width: 1500px) 100vw, 1500px">
                      <div class="profile-user"></div>
									</div>
									<div class="detail">
											<div class="date-box"><span>03/09</span>2020</div>
											<h3><a href="https://infless.vn/ky-hop-dong-nhan-ngay-qua-tang-tri-gia-3-5-trieu.html/">Ký hợp đồng nhận ngay quà tặng trị giá 3.5 triệu</a></h3>
											<p>&nbsp; &nbsp; Tặng hệ thống trị giá 3.5 triệu cho các khách hàng ký hợp đồng dịch vụ […]</p>
											<a href="https://infless.vn/ky-hop-dong-nhan-ngay-qua-tang-tri-gia-3-5-trieu.html/" class="read-more">Đọc thêm</a>
									</div>
								</div>
							</div>
              <div class="col-lg-4 col-md-12">
								<div class="blog-1 wow fadeInUp" style="visibility: hidden; animation-name: none;">
									<div class="blog-photo">
										<img width="959" height="540" src="assets/img/blog/116581776_2733153783588584_2631762915259540584_o.jpg" class="img-fluid wp-post-image" alt="" srcset="assets/img/blog/116581776_2733153783588584_2631762915259540584_o.jpg 959w, assets/img/blog/116581776_2733153783588584_2631762915259540584_o-768x432.jpg 768w" sizes="(max-width: 959px) 100vw, 959px">
                    <div class="profile-user"></div>
									</div>
									<div class="detail">
											<div class="date-box"><span>25/08</span>2020</div>
											<h3><a href="https://infless.vn/4-nguyen-ly-danh-gia-nhanh-tinh-hinh-dau-tu.html/">4 nguyên lý đánh giá nhanh tình hình đầu tư</a></h3>
											<p>Lăn lộn thị trường chục năm rút ra được vài nguyên lý dùng để ứng dụng đánh giá […]</p>
											<a href="https://infless.vn/4-nguyen-ly-danh-gia-nhanh-tinh-hinh-dau-tu.html/" class="read-more">Đọc thêm</a>
									</div>

								</div>
							</div>
	        </div>
	    </div>
	</div>
	<!-- Blog end -->

	<!-- intro section start -->
  <div class="intro-section">
	    <div class="container">
	        <div class="row">

	            <div class="col-xl-8 col-lg-7 col-md-7 col-sm-12">
	                <div class="intro-text wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
	                    <h3>Bạn có nhu cầu tư vấn đầu tư?</h3>
	                </div>
	            </div>
	            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12">
	                <a href="https://infless.vn/lien-he/" class="btn btn-md wow zoomIn" style="visibility: visible; animation-name: zoomIn;">Tham gia ngay</a>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- intro section end -->

	<!-- Footer start -->
	<%- include('webfooter.ejs') %>
	<!-- Footer end -->
	<!-- Full Page Search -->


</body>
</html>
