<%- include('webheader.ejs') %>

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
      <div class="breadcrumb-area">
            <h1>Phương châm &amp; Mục tiêu</h1>
            <div class="breadcrumbs">
              <p id="breadcrumbs"><span><span><a href="https://infless.vn/">Home</a> » <span><a href="https://infless.vn/gioi-thieu/">Giới thiệu</a> » <span class="breadcrumb_last" aria-current="page">Phương châm &amp; Mục tiêu</span></span></span></span></p>                <!--
                <li><a href="index.html">Home</a></li>
                <li class="active">Blog Classic Right Sidebar</li>
                -->
            </div>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<!-- Blog section start -->
<div class="blog-section content-area-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <!-- Blog grid box start -->
                <div class="blog-1 blog-2 mb-40">
                    <div class="detail">
                        <h3 class="title-2">
                            <a href="blog-single-sidebar-right.html">Phương châm &amp; Mục tiêu</a>
                        </h3>
                        <h1><span style="color: #ff0000;">Phương châm làm việc</span></h1>
                        <p><strong><em>Vì lợi ích khách hàng: </em></strong>Đây là ưu tiên hàng đầu của IIC, mọi hoạt động của Công ty đều hướng đến lợi ích và quan điểm của khách hàng; ưu tiên hàng đầu là bảo toàn vốn và gia tăng lợi nhuận cho khách hàng.</p>
                        <p><strong><em>Coi trọng nhân tố con người:</em></strong> Coi người lao động là khâu trung tâm, là tài sản quí giá nhất; tạo dựng môi trường công bằng, chính trực và nêu cao sức mạnh đoàn kết nhằm phát huy nội lực thúc đẩy Công ty phát triển.</p>
                        <p><strong><em>Trung thực:</em></strong> Lấy chữ TÍN làm tiền đề để xây dựng, phát triển Công ty một cách bền vững.</p>
                        <p><strong><em>Trách nhiệm:</em></strong> IIC coi trách nhiệm là đòn bẩy để phát triển; đề cao tinh thần dám nghĩ, dám làm, dám chịu trách nhiệm.</p>
                        <p><strong><em>Nền tảng quản trị hiện đại:</em></strong> IIC được quản lý, điều hành trên nền tảng quản trị chuyên nghiệp và hiện đại; tôn trọng các quy tắc, nghi thức trong giao tiếp; lịch thiệp trong quan hệ; dân chủ, công khai và bình đẳng trong xử lý công việc với những người bên ngoài (khách hàng, đối tác, cộng đồng) cũng như với những người bên trong (CBNV, chủ sở hữu, người quản lý).</p>
                        <h1><span style="color: #ff0000;">Giá trị cốt lõi</span></h1>
                        <p><strong><em>Uy tín: </em></strong>IIC tôn vinh giá trị này với mục tiêu xây dựng niềm tin, sự tín nhiệm bằng chất lượng dịch vụ, sự trung thực và tinh thần trách nhiệm. IIC cam kết với mọi đối tác: đảm bảo UY TÍN luôn là mục tiêu hàng đầu, đáp ứng nhu cầu ngày càng cao của khách hàng.</p>
                        <p><strong><em>Minh bạch: </em></strong>IIC cam kết minh bạch rõ ràng trong mọi hoạt động đầu tư và tư vấn, khách hàng có quyền theo dõi quá trình đầu tư từ nguồn vốn của mình thông qua các phương tiện do IIC cung cấp.</p>
                        <p><strong><em>Tâm huyết:</em></strong> Với mong muốn đưa đến cho khách hàng những điều tốt đẹp nhất, đội ngũ IIC luôn tìm tòi cố gắng hoàn thiện các cơ hội để đạt được điều tốt nhất cho công ty cũng như quý khách hàng.</p>
                        <p><strong><em>Tầm nhìn:</em></strong> Đội ngũ nhân sự IIC xây dựng và phát triển công ty dựa trên nguyên tắc xây dựng tầm nhìn chiến lược.</p>
                        <p><strong><em>Môi trường làm việc khoa học, trách nhiệm: </em></strong>Mỗi CBNV IIC luôn phấn đấu, rèn luyện để cùng nhau xây dựng IIC với những đặc trưng nổi trội: Tận tụy, trung thực, trách nhiệm; hết sức, hết lòng vì lợi ích của Công ty, vì lợi ích của khách hàng, của cộng đồng và của xã hội.</p>
                        <p><strong><em>Bảo đảm đời sống việc làm cho người lao động: </em></strong>IIC đặc biệt quan tâm đến việc bảo đảm thu nhập, đời sống, việc làm cho CBNV; bảo đảm hài hòa lợi ích của Doanh nghiệp và lợi ích CBNV; coi tiền lương, thu nhập là đòn bẩy kích thích người lao động cống hiến và gắn bó lâu dài với Công ty.</p>
                        <h1><span style="color: #ff0000;">Triết lý kinh doanh – đầu tư</span></h1>
                        <p><span style="color: #ff0000;"><strong>INFLESS</strong></span><strong>&nbsp; </strong>– vô hạn: đầu tư mang đến lợi nhuận vô hạn</p>
                        <p><span style="color: #ff0000;"><strong>In</strong></span>ternational- quốc tế: hướng đến đầu tư ra quốc tế</p>
                        <p><span style="color: #ff0000;"><strong>Fl</strong></span>exible – linh hoạt: đầu tư một cách linh hoạt theo xu thế thị trường trên nền &nbsp;tảng bền vững</p>
                        <p><span style="color: #ff0000;"><strong>E</strong></span>ffective – hiệu quả: tối ưu hóa hiệu quả đầu tư</p>
                        <p><span style="color: #ff0000;"><strong>S</strong></span>ensitive – nhậy bén: nhanh nhẹn với thời cuộc, nắm bắt cơ hội một cách nhanh nhất</p>
                        <p><span style="color: #ff0000;"><strong>S</strong></span>mart – thông minh: luôn tìm được cơ hội kể cả những lúc khó khăn nhất.</p>
                    </div>
                </div>
                <!-- Blog grid box end -->
                <div class="blog-1">
                  <!-- FB Share button start -->
                  <div class="fb-share-button fb_iframe_widget" data-href="/he-thong-ho-tro-giao-dich-infless/" data-layout="button_count" data-size="small" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=636604910508808&amp;container_width=730&amp;href=https%3A%2F%2Finfless.vn%2Fhe-thong-ho-tro-giao-dich-infless%2F&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;size=small"><span style="vertical-align: bottom; width: 92px; height: 20px;"><iframe name="f31b410569c018" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v6.0/plugins/share_button.php?app_id=636604910508808&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3a756ad20020b4%26domain%3Dinfless.vn%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Finfless.vn%252Ff208f773768b0fc%26relation%3Dparent.parent&amp;container_width=730&amp;href=https%3A%2F%2Finfless.vn%2Fhe-thong-ho-tro-giao-dich-infless%2F&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;size=small" style="border: none; visibility: visible; width: 92px; height: 20px;" class=""></iframe></span></div>
                  <!-- FB Share button end -->

                  <!-- FB comment section start -->
                  <div class="fb-comments fb_iframe_widget fb_iframe_widget_fluid_desktop" data-href="/he-thong-ho-tro-giao-dich-infless/" data-width="100%" data-numposts="5" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=636604910508808&amp;container_width=730&amp;height=100&amp;href=https%3A%2F%2Finfless.vn%2Fhe-thong-ho-tro-giao-dich-infless%2F&amp;locale=vi_VN&amp;numposts=5&amp;sdk=joey&amp;version=v6.0&amp;width=" style="width: 100%;"><span style="vertical-align: bottom; width: 100%; height: 204px;"><iframe name="f36b5e1723be228" width="1000px" height="100px" data-testid="fb:comments Facebook Social Plugin" title="fb:comments Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v6.0/plugins/comments.php?app_id=636604910508808&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3e1c07ebbaf104%26domain%3Dinfless.vn%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Finfless.vn%252Ff208f773768b0fc%26relation%3Dparent.parent&amp;container_width=730&amp;height=100&amp;href=https%3A%2F%2Finfless.vn%2Fhe-thong-ho-tro-giao-dich-infless%2F&amp;locale=vi_VN&amp;numposts=5&amp;sdk=joey&amp;version=v6.0&amp;width=" style="border: none; visibility: visible; width: 100%; height: 204px;" class=""></iframe></span></div>
                  <!-- FB comment section end -->
              </div>
            </div>


            <!--Sidebar start-->
            <div class="col-lg-4 col-md-12">
    <div class="sidebar mb-30">
        <!-- Search box start -->
        <div class="widget search-box">
            <h3 class="sidebar-title">Search</h3>
            <form class="widget_search" id="searchform" method="GET" action="/">
	<div class="input-group">
		<label for="searchInput" class="d-none"></label>
	    <input type="text" class="form-control" name="s" placeholder="Tìm kiếm" required="" value="">
	    <button type="submit" class="input-group-addon"><i class="fa fa-search"></i></button>
	</div>
</form>
        </div>

        <!-- Categories start -->
        <div class="widget categories">
          <h3 class="sidebar-title">Chuyên mục</h3>
          <ul>
            <li><a href="/category/tin-tuc/">Tin tức <span>(1660)</span></a></li>
            <li><a href="/category/tuyen-dung/">Tuyển dụng <span>(1)</span></a></li>
            <li><a href="/category/danh-muc-khuyen-nghi/">Danh mục khuyến nghị <span>(0)</span></a></li>
          </ul>
        </div>
        <!-- Get category end -->

        <div class="widget categories disable">
            <h3 class="sidebar-title">Categories</h3>
            <ul>
                <li><a href="#">App Development<span>(12)</span></a></li>
                <li><a href="#">Graphic Design<span>(8)</span></a></li>
                <li><a href="#">Web Design<span>(23)</span></a></li>
                <li><a href="#">3D Design<span>(5)</span></a></li>
                <li><a href="#">Plugin Development<span>(63)</span></a></li>
                <li><a href="#">Expert Review<span>(7)</span></a></li>
            </ul>
        </div>

        <!-- Recent posts start -->
        <div class="widget recent-posts">
      	<!-- Get bài viết liên quan -->
      		        <!-- Get bài viết liên quan end-->
      	</div>

        <!-- Tags start -->
        <div class="widget tags clearfix">
            <h3 class="sidebar-title">Từ khóa nổi bật</h3>
            <!-- Get tag cloud -->
            <ul class="wp-tag-cloud" role="list">
	<li><a href="" class="tag-cloud-link tag-link-0 tag-link-position-1" style="font-size: 12px;" aria-label="chứng khoán (1 item)">chứng khoán<span class="tag-link-count"> (1)</span></a></li>
	<li><a href="" class="tag-cloud-link tag-link-1 tag-link-position-2" style="font-size: 12px;" aria-label="hệ thống (1 item)">hệ thống<span class="tag-link-count"> (1)</span></a></li>
	<li><a href="" class="tag-cloud-link tag-link-2 tag-link-position-3" style="font-size: 12px;" aria-label="infless (1 item)">infless<span class="tag-link-count"> (1)</span></a></li>
	<li><a href="" class="tag-cloud-link tag-link-3 tag-link-position-4" style="font-size: 12px;" aria-label="khủng hoảng 2008 (1 item)">khủng hoảng 2008<span class="tag-link-count"> (1)</span></a></li>
	<li><a href="" class="tag-cloud-link tag-link-4 tag-link-position-5" style="font-size: 12px;" aria-label="khủng hoảng tài chính (1 item)">khủng hoảng tài chính<span class="tag-link-count"> (1)</span></a></li>
	<li><a href="" class="tag-cloud-link tag-link-5 tag-link-position-6" style="font-size: 12px;" aria-label="khủng hoảng kinh tế (1 item)">khủng hoảng kinh tế<span class="tag-link-count"> (1)</span></a></li>
</ul>
            <!-- Get tag cloud -->
            <ul class="tags disable">
                <li><a href="#">Development</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Css</a></li>
                <li><a href="#">Photoshop</a></li>
                <li><a href="#">Php</a></li>
                <li><a href="#">Wordpress</a></li>
                <li><a href="#">Graphic</a></li>
                <li><a href="#">UI-UX</a></li>
                <li><a href="#">Responsive</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Financial solve</a></li>
            </ul>
        </div>
        <!-- Latest start -->
        <div class="widget w-2 latest-tweet disable">
            <h3 class="sidebar-title">Latest Tweet</h3>
            <p><a href="#">Lorem Ipsum is simply</a> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text,</p>
            <p>@Lorem ipsum dolor<a href="#">sit amet, consectetur</a> adipiscing elit. Aenean id dignissim justo. Maecenas urna lacus,</p>
        </div>
    </div>
</div>
            <!--Sidebar end-->


        </div>
    </div>
</div>
<!-- Blog section end -->

<!-- Footer start -->
<%- include('webfooter.ejs') %>
<!-- Footer end -->





</body>
</html>
