<%- include('webheader.ejs') %>

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
      <div class="breadcrumb-area">
            <h1>Cộng tác viên kinh doanh</h1>
            <div class="breadcrumbs">
              <p id="breadcrumbs"><span><span><a href="https://infless.vn/">Home</a> » <span class="breadcrumb_last" aria-current="page">Cộng tác viên kinh doanh</span></span></span></p>                <!--
                <li><a href="index.html">Home</a></li>
                <li class="active">Blog Classic Right Sidebar</li>
                -->
            </div>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<!-- Blog section start -->
<div class="blog-section content-area-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <!-- Blog grid box start -->
                <div class="blog-1 blog-2 mb-40">
                    <div class="blog-photo">
                                            <img width="512" height="341" src="https://infless.vn/wp-content/uploads/2020/04/tu-van-tai-chinh-doanh-nghiep.png" class="img-fluid wp-post-image" alt="">                        <!--img src="https://infless.vn/wp-content/themes/Biznexx/assets/img/blog/blog-3.jpg" alt="blog" class="img-fluid"-->
                        <div class="profile-user disable">
                          <img width="512" height="341" src="https://infless.vn/wp-content/uploads/2020/04/tu-van-tai-chinh-doanh-nghiep.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">                            <!--img src="https://infless.vn/wp-content/themes/Biznexx/assets/img/avatar/avatar-3.jpg" alt="user"-->
                        </div>
                    </div>
                    <div class="detail">
                        <h3 class="title-2">
                            <a href="blog-single-sidebar-right.html">Cộng tác viên kinh doanh</a>
                        </h3>


                        <p><img class="alignnone wp-image-1807" src="https://infless.vn/wp-content/uploads/2020/04/69117597_379983869354646_1610632510029430784_n.png" alt="" width="500" height="419" sizes="(max-width: 500px) 100vw, 500px"></p>
                        <p><strong>Vị trí: Cộng tác viên kinh doanh</strong><br>
                        Số lượng: 10<br>
                        Ưu tiên ứng viên nộp hồ sơ sớm.</p>
                        <p><strong>Mô tả công việc</strong><br>
                        • Tìm kiếm và duy trì mối quan hệ với khách hàng;<br>
                        • Tiếp nhận, trả lời, tư vấn khách hàng về sản phẩm, dịch vụ;<br>
                        • Thực hiện các nhiệm vụ khác theo yêu cầu của Cán bộ quản lý trực tiếp và Trưởng bộ phận.</p>
                        <p><strong>Yêu cầu:</strong><br>
                        • Sinh viên năm 3 hoặc năm cuối Đại học về chuyên ngành Chứng khoán hoặc tài chính, ngân hàng.<br>
                        • Có hiểu biết và yêu thích lĩnh vực tài chính, ngân hàng hoặc chứng khoán.<br>
                        • Ngoại hình ưa nhìn, năng động, nhiệt tình. Có kỹ năng giao tiếp, kỹ năng xử lý tình huống linh hoạt.<br>
                        • Chịu được áp lực công việc cao.<br>
                        • Có tinh thần kỷ luật nghiêm túc.</p>
                        <p><strong>Quyền lợi:</strong><br>
                        • Thu nhập theo năng lực, không có giới hạn.<br>
                        • Cơ hội phát triển nghề nghiệp, nâng cấp bản thân.<br>
                        • Được trải nghiệm trong một môi trường làm việc năng động. Làm việc và giao lưu trực tiếp với các chuyên viên giàu kinh nghiệm.<br>
                        • Cơ hội chứng minh năng lực, thăng tiến luôn rộng mở.</p>
                        <p>Các ứng viên vui lòng gửi CV và liên hệ về :<br>
                        CTCP Infless Investment: inflessinvestment@gmail.co<wbr>m<br>
                        • CV phải đính kèm ảnh cá nhân;<br>
                        • Gửi mail theo mẫu: Tên_ Ứng tuyển Cộng tác viên Infless Investment</p>


                        <br>
                        <div class="row clearfix tags-socal-box">
                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <div class="tags">
                                    <h3 class="title-2">Từ khóa</h3>


                                    <!-- Get current post's tags start -->
                                                                        <!-- Get current post's tags end -->


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Blog grid box end -->
                <div class="blog-1">
                  <!-- FB Share button start -->
                  <div class="fb-share-button fb_iframe_widget" data-href="/he-thong-ho-tro-giao-dich-infless/" data-layout="button_count" data-size="small" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=636604910508808&amp;container_width=730&amp;href=https%3A%2F%2Finfless.vn%2Fhe-thong-ho-tro-giao-dich-infless%2F&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;size=small"><span style="vertical-align: bottom; width: 92px; height: 20px;"><iframe name="f31b410569c018" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v6.0/plugins/share_button.php?app_id=636604910508808&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3a756ad20020b4%26domain%3Dinfless.vn%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Finfless.vn%252Ff208f773768b0fc%26relation%3Dparent.parent&amp;container_width=730&amp;href=https%3A%2F%2Finfless.vn%2Fhe-thong-ho-tro-giao-dich-infless%2F&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;size=small" style="border: none; visibility: visible; width: 92px; height: 20px;" class=""></iframe></span></div>
                  <!-- FB Share button end -->

                  <!-- FB comment section start -->
                  <div class="fb-comments fb_iframe_widget fb_iframe_widget_fluid_desktop" data-href="/he-thong-ho-tro-giao-dich-infless/" data-width="100%" data-numposts="5" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=636604910508808&amp;container_width=730&amp;height=100&amp;href=https%3A%2F%2Finfless.vn%2Fhe-thong-ho-tro-giao-dich-infless%2F&amp;locale=vi_VN&amp;numposts=5&amp;sdk=joey&amp;version=v6.0&amp;width=" style="width: 100%;"><span style="vertical-align: bottom; width: 100%; height: 204px;"><iframe name="f36b5e1723be228" width="1000px" height="100px" data-testid="fb:comments Facebook Social Plugin" title="fb:comments Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v6.0/plugins/comments.php?app_id=636604910508808&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3e1c07ebbaf104%26domain%3Dinfless.vn%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Finfless.vn%252Ff208f773768b0fc%26relation%3Dparent.parent&amp;container_width=730&amp;height=100&amp;href=https%3A%2F%2Finfless.vn%2Fhe-thong-ho-tro-giao-dich-infless%2F&amp;locale=vi_VN&amp;numposts=5&amp;sdk=joey&amp;version=v6.0&amp;width=" style="border: none; visibility: visible; width: 100%; height: 204px;" class=""></iframe></span></div>
                  <!-- FB comment section end -->
              </div>
            </div>


            <!--Sidebar start-->
            <div class="col-lg-4 col-md-12">
    <div class="sidebar mb-30">
        <!-- Search box start -->
        <div class="widget search-box">
            <h3 class="sidebar-title">Search</h3>
            <form class="widget_search" id="searchform" method="GET" action="/">
	<div class="input-group">
		<label for="searchInput" class="d-none"></label>
	    <input type="text" class="form-control" name="s" placeholder="Tìm kiếm" required="" value="">
	    <button type="submit" class="input-group-addon"><i class="fa fa-search"></i></button>
	</div>
</form>
        </div>

        <!-- Categories start -->
        <div class="widget categories">
          <h3 class="sidebar-title">Chuyên mục</h3>
          <ul>
            <li><a href="/category/tin-tuc/">Tin tức <span>(1660)</span></a></li>
            <li><a href="/category/tuyen-dung/">Tuyển dụng <span>(1)</span></a></li>
            <li><a href="/category/danh-muc-khuyen-nghi/">Danh mục khuyến nghị <span>(0)</span></a></li>
          </ul>
        </div>
        <!-- Get category end -->

        <div class="widget categories disable">
            <h3 class="sidebar-title">Categories</h3>
            <ul>
                <li><a href="#">App Development<span>(12)</span></a></li>
                <li><a href="#">Graphic Design<span>(8)</span></a></li>
                <li><a href="#">Web Design<span>(23)</span></a></li>
                <li><a href="#">3D Design<span>(5)</span></a></li>
                <li><a href="#">Plugin Development<span>(63)</span></a></li>
                <li><a href="#">Expert Review<span>(7)</span></a></li>
            </ul>
        </div>

        <!-- Recent posts start -->
        <div class="widget recent-posts">
      	<!-- Get bài viết liên quan -->
      		        <!-- Get bài viết liên quan end-->
      	</div>

        <!-- Tags start -->
        <div class="widget tags clearfix">
            <h3 class="sidebar-title">Từ khóa nổi bật</h3>
            <!-- Get tag cloud -->
            <ul class="wp-tag-cloud" role="list">
	<li><a href="" class="tag-cloud-link tag-link-0 tag-link-position-1" style="font-size: 12px;" aria-label="chứng khoán (1 item)">chứng khoán<span class="tag-link-count"> (1)</span></a></li>
	<li><a href="" class="tag-cloud-link tag-link-1 tag-link-position-2" style="font-size: 12px;" aria-label="hệ thống (1 item)">hệ thống<span class="tag-link-count"> (1)</span></a></li>
	<li><a href="" class="tag-cloud-link tag-link-2 tag-link-position-3" style="font-size: 12px;" aria-label="infless (1 item)">infless<span class="tag-link-count"> (1)</span></a></li>
	<li><a href="" class="tag-cloud-link tag-link-3 tag-link-position-4" style="font-size: 12px;" aria-label="khủng hoảng 2008 (1 item)">khủng hoảng 2008<span class="tag-link-count"> (1)</span></a></li>
	<li><a href="" class="tag-cloud-link tag-link-4 tag-link-position-5" style="font-size: 12px;" aria-label="khủng hoảng tài chính (1 item)">khủng hoảng tài chính<span class="tag-link-count"> (1)</span></a></li>
	<li><a href="" class="tag-cloud-link tag-link-5 tag-link-position-6" style="font-size: 12px;" aria-label="khủng hoảng kinh tế (1 item)">khủng hoảng kinh tế<span class="tag-link-count"> (1)</span></a></li>
</ul>
            <!-- Get tag cloud -->
            <ul class="tags disable">
                <li><a href="#">Development</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Css</a></li>
                <li><a href="#">Photoshop</a></li>
                <li><a href="#">Php</a></li>
                <li><a href="#">Wordpress</a></li>
                <li><a href="#">Graphic</a></li>
                <li><a href="#">UI-UX</a></li>
                <li><a href="#">Responsive</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Financial solve</a></li>
            </ul>
        </div>
        <!-- Latest start -->
        <div class="widget w-2 latest-tweet disable">
            <h3 class="sidebar-title">Latest Tweet</h3>
            <p><a href="#">Lorem Ipsum is simply</a> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text,</p>
            <p>@Lorem ipsum dolor<a href="#">sit amet, consectetur</a> adipiscing elit. Aenean id dignissim justo. Maecenas urna lacus,</p>
        </div>
    </div>
</div>
            <!--Sidebar end-->


        </div>
    </div>
</div>
<!-- Blog section end -->

<!-- Footer start -->
<%- include('webfooter.ejs') %>
<!-- Footer end -->





</body>
</html>
