/* Import fonts */
@font-face {
    font-family: "Roboto-Light.ttf";
    src: url("https://w.ladicdn.com/5c7362c6c417ab07e5196b05/roboto-light-20220509012818.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Bold.ttf";
    src: url("https://w.ladicdn.com/5c7362c6c417ab07e5196b05/roboto-bold-20220508153705.ttf") format("truetype");
}

@font-face {
    font-family: "SVN-Bebas Neue Bold.ttf";
    src: url("https://w.ladicdn.com/5c7362c6c417ab07e5196b05/svn-bebas-neue-bold-20220310192731.ttf") format("truetype");
}

@font-face {
    font-family: "SVN-Poppins Bold.otf";
    src: url("https://w.ladicdn.com/5c7362c6c417ab07e5196b05/svn-poppins-bold-20230228063520-ipygr.otf")
}


/* Global styles */

body {
    font-family: "Roboto-Light.ttf"
    font-size: 16px;
    line-height: 1.5;
    background-color: #efd788;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Header styles */


/* Header */

header {
    background-color: #fff;
    color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 60px;
    position: fixed;
    width: 100%;
    /*height: 90px;*/
    z-index: 1;
}

main {
  padding-top: 90px;
}

.fa-user,
.fa-shopping-cart {
    font-size: 2.2rem !important;
}


/* Logo */

.logo {
    height: 60px;
}

#logo {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
}

#logo img {
    max-width: 100%;
}

.navbar-toggler {
    border-color: transparent !important;
    background-color: #7e1916 !important;
}

.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
    border-color: transparent !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.nav-link {
    display: inline-block;
    line-height: 50px;
    /* adjust value to center vertically */
}


/* User Icon */


/* Shopping Cart Icon */

#user-icon {
    position: relative;
    /*margin-right: 20px;*/
    line-height: 24px;
    color: #7e1916;
}

#shopping-cart-icon {
    line-height: 24px;
    color: #7e1916;
    position: absolute;
    right: 0;
}


/* Red Dot */

.red-dot {
    position: absolute;
    /*top: 11px;
    right: 16px;*/
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
}

.page-content {
  background-color: #fff;
    padding: 120px 20px 40px 20px;
}


/* Product page styles */

.product-labels {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    margin-right: 15px;
}

.product-label {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2px 6px;
    margin-right: 6px;
    margin-top: 6px;
    border-radius: 2px;
    color: #fff;
}

.product-label.product-sale {
    background-color: #ff9800;
}

.product-label.product-new {
    background-color: #ff9800;
}

.product-label.product-discount {
    background-color: #4cd964;
}

.product-image {
    max-width: 100%;
    height: auto;
}

.product-img {
  background-color: #fff;
    border: 2px solid rgba(240, 242, 245, 1);
}

.product-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

.product-subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.product-desc-table {
  width: 100%;
}

.product-desc-table td, .product-desc-table th {
    border: 1px solid #ccc;
    padding: 5px;
    vertical-align: top;
}

.product-desc-table th {
  text-align: center;
}

.product-description {
    margin-top: 1rem;
}

.product-price {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.product-quantity {
    width: 50px;
}

.product-rating {
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

.product-rating .fa-star {
    color: gold;
}

.product-quantity-group {
    display: flex;
    align-items: center;
}

.product-quantity {
    width: 70px;
    height: 40px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.quantity-btns {
    display: flex;
    flex-direction: column;
}

.quantity-controls {
    position: relative;
    display: flex;
    align-items: center;
}

.quantity-input {
    width: 50px;
    height: 30px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 0 10px;
    text-align: center;
    margin: 0 10px;
}

.quantity-btn {
    width: 20px;
    height: 20px;
    border: 1px solid #ced4da;
    display: flex;
    align-items: center;
    justify-content: center;
    /*position: absolute;
    top: 0;*/
    z-index: 1;
}

.product-add-to-cart {
    margin: 0 5px;
}

#product-add-to-cart,
#product-buy-now {
    height: 40px;
}

#user-account-icon {
    font-size: 2rem;
    /* sets the size of the user account icon */
    margin-right: 1rem;
    /* adds some spacing between the icon and other elements */
}

#shopping-cart-icon {
    font-size: 2rem;
    /* sets the size of the shopping cart icon */
    margin-right: 1rem;
    /* adds some spacing between the icon and other elements */
}


/* Active tab header */

.tab-header.active {
    background-color: #007bff;
    color: #fff;
}


/* Inactive tab header */

.tab-header {
    background-color: #f8f9fa;
    color: #333;
    border: none;
}


/* Active tab content */

.tab-content.active {
    display: block;
}


/* Inactive tab content */

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-top: none;
}

.nav-tabs .nav-link {
    border: 1px solid #00000014;
}


/* Cart Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog {
    position: relative;
    margin: 10% auto;
    padding: 0;
    max-width: 98%;
}

.modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    max-width: 100%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.modal-title {
    font-size: 1.5rem;
}

.close {
    font-size: 2rem;
    color: #aaa;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    padding: 20px;
    overflow: auto;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.btn-secondary {
    background-color: #ccc;
    color: #333;
    border: 1px solid transparent;
    /*padding: 10px 20px;*/
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #bbb;
}

.remove-product-icon {
    cursor: pointer;
    color: red;
}


/* Payment Modal */

.payment-detail {
    font-weight: bold;
}

#bill-code, #bill-code-2 {
    color: red;
}


/*
#paymentModal .modal-content {
    border-radius: 0;
}

#paymentModal .btn-close {
    color: #fff;
    font-size: 1.5rem;
}

#paymentModal .modal-body {
    padding: 20px;
}

#paymentModal label {
    font-weight: bold;
}

#paymentModal input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

#paymentModal .row>div:first-child {
    margin-right: 10px;
}

#paymentModal .modal-footer {
    border-top: none;
    padding: 20px;
}

#paymentModal .btn-primary {
    background-color: #007bff;
    border: none;
}

#paymentModal .btn-primary:hover {
    background-color: #0062cc;
}*/

.notification,
.notification-error {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9;
    display: none;
}

.notification {
    background-color: #3ad14570;
}

.notification-error {
    background-color: #d13a3a70;
}

.notification p,
.notification-error p {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.noti-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.view-cart-btn,
.continue-shopping-btn {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.view-cart-btn:hover,
.continue-shopping-btn:hover {
    background-color: #0069d9;
}

.view-cart-btn:focus,
.continue-shopping-btn:focus {
    outline: none;
}

.category-title {
  font-family: "Roboto-Bold.ttf";
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #7e1916;
}

.btn-crimson {
  background-color: #7e1916;
  border-color: #7e1916;
  color: #fff;
}

.btn-crimson:hover {
  background-color: #c93430;
  border-color: #c93430;
  color: #fff;
}

.category-product-img {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

/* LADI */
#FOOTER {
  height: 220px;
}
.ladi-section {
    margin: 0 auto;
    position: relative;
}
.ladi-container {
    position: relative;
    margin: 0 auto;
    height: 100%;
}
#GROUP362 {
    /*position: absolute;*/
    height: 164px;
    padding-top: 28px;
}
.ladi-section .ladi-section-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
}
.ladi-section-background {
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    background-image: url("https://w.ladicdn.com/s1440x220/5c7362c6c417ab07e5196b05/infess-01-20230309090411-idda-.png");
    background-position: center top;
    background-repeat: repeat;
}
#HEADLINE360>.ladi-headline {
    font-family: "Roboto-Bold.ttf";
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6;
}
.ladi-headline {
    width: 100%;
    display: inline-block;
    word-break: break-word;
    background-size: cover;
    background-position: center center;
}
#HEADLINE361 {
    margin-top: 17px;
}
#HEADLINE361>.ladi-headline {
    font-family: "Roboto-Light.ttf";
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
}

@media (max-width: 768px) {
  #HEADLINE360>.ladi-headline {
    font-size: 18px;
  }
  #HEADLINE361>.ladi-headline {
    font-size: 15px;
  }
}

/* single page slide show */
.slide-container {
  display: flex;
}
.swiper, .product-img {
  flex: 1;
  height: 450px;
}
.product-img-thumbnails {
  width: 80px;
}
.product-img-thumbnails-list {
  padding: 0;
  margin: 0 !important;
}
.product-img-thumbnails-list li {
  height: 80px;
  border:1px solid #ddd;
}
.product-img-thumbnails-list li:hover {
  border:1px solid #7e1916;
}
.product-img-show {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#product-img-show-main {
  width: 100%;
  height: auto;
  max-height: 450px;
}
.img-thumbnail-item {
  height: 100%;
  width: auto;
}
.thumbnail-nav {
  height: 25px;
  color: #5a5a5a;
  border:1px solid #ccc;
  text-align: center;
  background-color: #ccc;
  cursor: pointer;
  -moz-user-select: none !important;
  -webkit-touch-callout: none!important;
  -webkit-user-select: none!important;
  -khtml-user-select: none!important;
  -moz-user-select: none!important;
  -ms-user-select: none!important;
  user-select: none!important;
}
.thumbnail-nav:hover {
  background-color: #7e1916;
  border:1px solid #7e1916;
  color: #fff;
}
