<h3>Kiểm tra hệ thống</h3>
<div style="margin:5px;padding:5px;border:1px solid #9999994f;background:#99999954">
  <div id="vol21ClientConsole">
  </div>
  <div id="vol21ClientLoading">
    <p>Loading...</p>
  </div>
  <h4>Phản hồi từ server</h4>
  <div class="console" id="console-21">

  </div>
  <!--div class="test_socket">
    <div>
      <p> Nếu nghi ngờ server có sự cố, hãy ấn nút bên dưới:</p>
      <input class="btn btn-danger" type="submit" name="" value="Test Socket Server"  id="vol21-btn">
      <input class="btn btn-warning" type="submit" name="" value="Test Random Ticker"  id="vol21-btn2">
    </div>
  </div-->

  <h4>Lệnh quản trị hệ thống</h4>
  <form class="" action="index.html" method="post">
    <input id="sysCmd" type="text" name="" value="" placeholder="Lệnh" style="width:100%">
    <input id="sysPsw" type="text" name="" value="" placeholder="Mật khẩu" style="width:100%">
    <button id="sysButton" class="btn btn-danger" type="button" name="button" onclick="sendSysCmd()">Gửi</button>
  </form>
</div>
