html {
  scroll-behavior: smooth;
}

.disable {
  display: none !important;
}

body {
}

.main-header .logo {
    padding: 10px 0 0 0 !important;
    margin-right: 50px;
    float: left;
}

.main-header .logo img {
  height: 120px !important;
}

.breadcrumbs {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
}

.breadcrumbs p, .breadcrumbs a {
    color: #fff;
    text-decoration: none;
}

.breadcrumbs a:hover {
    color: var(--color-7);
    text-decoration: none;
}

.blog-1 .post-meta {
  margin-bottom: 0 !important;
}

.blog-1 .detail h3 {
  /*margin-bottom: 0 !important;*/
  line-height: 1.2 !important;
}

.blog-1 .detail img {
  width: 100%;
  height: auto;
}

.blog-1 .detail ul {
  list-style: disc;
  list-style-position: outside;
  margin-left: 15px;
  padding-left: 15px;
}

.blog-1 .date-box {
  top: 0 !important;
  left: 0 !important;
}

.blog-1 .blog-photo img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.blog-1 ul li {
  font-size: 14px;
  color: var(--color-5);
}

.blog-2 .title-2 {
  margin-bottom: 25px !important;
}

.post-meta ul {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.wpcf7-submit {
  font-family: 'Poppins', sans-serif;
  display: block;
  width: 100%;
  padding: 11px 15px 10px;
  font-size: 13px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 2px;
  color: var(--color-1);
  background: var(--color-2);
  border-color: var(--color-2);
  border: none;
  cursor: pointer;
}

.wpcf7-text {
  width: 100%;
  height: 40px;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 10px 15px;
  border: 1px solid #ebebeb;
  font-size: 13px;
  outline: none;
  border-radius: 2px;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/*Facebook comment*/
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  min-width: 100% !important;
  width: 100% !important;
}

/*--------------------------------------------------
	  **Tech And All Social Icons Roll Over**
---------------------------------------------------*/
.social-icons {
	padding: 0!important;
	margin: 0!important;
	list-style-type: none!important;
}
.social-icons li{
	float: left!important;
	margin-right: 2px!important;
	margin-bottom: 2px!important;
	padding: 0px!important;
	display: inline!important;
	width: auto!important;

}
.social-icons li a {
	-moz-transition: all 0.3s ease 0s;
	display: block!important;
	float: left!important;
	height: 100%!important;
	margin: 0!important;
	padding: 0!important;
	width: 40px!important;
	height: 40px!important;
	text-indent: -9999px!important;
}
.social-icons li a:hover {
	background-position: 0 -40px!important;
}
.social-icons li a {
	background-color:transparent;
}
.social-icons li.aim a {
	background: url(icons/aim.png) no-repeat 0 0;
}
.social-icons li.aim a:hover {
	background-color: #e95a00;
}
.social-icons li.apple a {
	background: url(icons/apple.png) no-repeat 0 0;
}
.social-icons li.apple a:hover {
	background-color: #606060;
}
.social-icons li.behance a {
	background: url(icons/behance.png) no-repeat 0 0;
}
.social-icons li.behance a:hover {
	background-color: #18a3fe;
}
.social-icons li.blogger a {
	background: url(icons/blogger.png) no-repeat 0 0;
}
.social-icons li.blogger a:hover {
	background-color: #fb913f;
}
.social-icons li.cargo a {
	background: url(icons/cargo.png) no-repeat 0 0;
}
.
.social-icons li.delicious a {
	background: url(icons/delicious.png) no-repeat 0 0;
}
.social-icons li.facebook a {
	background: url(icons/facebook.png) no-repeat 0 0;
}
.social-icons li.facebook a:hover {
	background-color: #3b5998;
}
.social-icons li.flickr a {
	background: url(icons/flickr.png) no-repeat 0 0;
}
.social-icons li.flickr a:hover {
	background-color: #f1628b;
}
.social-icons li.google a {
	background: url(icons/google.png) no-repeat 0 0;
}
.social-icons li.google a:hover {
	background-color: #dd4b39;
}
.social-icons li.googleplus a {
	background: url(icons/googleplus.png) no-repeat 0 0;
}
.social-icons li.googleplus a:hover {
	background-color: #d94a39;
}
.social-icons li.html5 a {
	background: url(icons/html5.png) no-repeat 0 0;
}
.social-icons li.html5 a:hover {
	background-color: #f3642c;
}
.social-icons li.linkedin a {
	background: url(icons/linkedin.png) no-repeat 0 0;
}
.social-icons li.linkedin a:hover {
	background-color: #71b2d0;
}
.social-icons li.orkut a {
	background: url(icons/orkut.png) no-repeat 0 0;
}
.social-icons li.orkut a:hover {
	background-color: #ed2590;
}
.social-icons li.paypal a {
	background: url(icons/paypal.png) no-repeat 0 0;
}
.social-icons li.paypal a:hover {
	background-color: #32689a;
}
.social-icons li.picasa a {
	background: url(icons/picasa.png) no-repeat 0 0;
}
.social-icons li.picasa a:hover {
	background-color: #444;
}
.social-icons li.pinterest a {
	background: url(icons/pinterest.png) no-repeat 0 0;
}
.social-icons li.pinterest a:hover {
	background-color: #cb2027;
}
.social-icons li.rss a {
	background: url(icons/rss.png) no-repeat 0 0;
}
.social-icons li.rss a:hover {
	background-color: #fe9900;
}
.social-icons li.skype a {
	background: url(icons/skype.png) no-repeat 0 0;
}
.social-icons li.skype a:hover {
	background-color: #18b7f1;
}
.social-icons li.tumblr a {
	background: url(icons/tumblr.png) no-repeat 0 0;
}
.social-icons li.tumblr a:hover {
	background-color: #3a5976;
}
.social-icons li.twitter a {
	background: url(icons/twitter.png) no-repeat 0 0;
}
.social-icons li.twitter a:hover {
	background-color: #48c4d2;
}
.social-icons li.vimeo a {
	background: url(icons/vimeo.png) no-repeat 0 0;
}
.social-icons li.vimeo a:hover {
	background-color: #62a0ad;
}
.social-icons li.wordpress a {
	background: url(icons/wordpress.png) no-repeat 0 0;
}
.social-icons li.wordpress a:hover {
	background-color: #464646;
}

.social-icons li.yelp a {
	background: url(icons/yelp.png) no-repeat 0 0;
}
.social-icons li.yelp a:hover {
	background-color: #c41200;
}
.social-icons li.youtube a {
	background: url(icons/youtube.png) no-repeat 0 0;
}
.social-icons li.youtube a:hover {
	background-color: #f45750;
}

.forum-button {
  position:fixed;
	width:100px;
	line-height:30px;
	bottom:20px;
	left:20px;
	background-color: var(--color-2);
	color:#FFF;
	border-radius:20px;
	text-align:center;
  text-transform: uppercase;
  background: #cca92c;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}

.product-slider-mover-right, .product-slider-mover-left {
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 40%;
  font-size: 3em;
}

.product-slider-mover-right {
  float: right;
  right: -20px;
}

.product-slider-mover-left {
  float: left;
  left: -20px;
}

.btn-theme {
  color: var(--color-1) !important;
  margin-bottom: 20px;
}

.product-intro {
  margin-bottom: 30px;
}

.product-intro h1 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  color: #000;
}

.product-intro h1 span {
  color: var(--color-2);
}

.visions {
  padding: 100px 0 70px;
}

.visions h1 {
  color: var(--color-8);
  font-size: 4rem;
}

.visions h5 {
  font-size: 22px;
  font-weight: 300;
  margin: 0 0 22px;
}

.visions-intro {
  padding: 0 15px;
}

.visions-contents {
  margin-bottom: 30px;
  padding: 0 15px;
}

.dark-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(5,5,5,.65);
}

.separator-2 {
  background: var(--color-2);
}

.separator-8 {
  background: var(--color-8);
}

.separator {
  padding: 30px 0 10px;
}

.separator h1 {
  color: var(--color-1);
    font-size: 2.7em;
    font-weight: 700;
    letter-spacing: normal;
    text-transform: uppercase;
}

.slide h3 {
  color: var(--color-1);
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: normal;
    text-shadow: 2px 2px #333;
    margin-bottom: 10px;
}

.mg-bt-20 {
  margin-bottom: 15px;
}

.slanted {
  -ms-transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  transform: skewY(-4deg);
}

.carousel-caption-t40 {
  top: 40% !important;
}

.carousel-title {
  position: absolute;
  top: 30px;
  left: -0.15%;
  z-index: 1;
  width: 100%;
}

.carousel-title h3 {
  font-size: 2.5em;
  color: var(--color-1);
  text-transform: none;
}

.carousel-title h1 {
  color: var(--color-1);
  margin-bottom: 30px;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: uppercase;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: var(--color-1);
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: no-repeat 50% / 100% 100%;
}

.carousel .carousel-control-prev-icon {
    background-image: url("https://z9t4u9f6.stackpathcdn.com/wp-content/themes/mdbootstrap4/img/svg/arrow_left.svg");
}

.carousel .carousel-control-next-icon {
    background-image: url("https://z9t4u9f6.stackpathcdn.com/wp-content/themes/mdbootstrap4/img/svg/arrow_right.svg");
}

.carousel-indicators {
  bottom: 1%;
}

.copyright {
  height: 160px;
}

.taskbar-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--color-1);
  color: var(--color-2);
  padding: 10px 0 5px;
  font-size: 14px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: -2px -2px 20px rgba(3,3,3,.3);
  z-index: 990;
}

.taskbar-bottom-icon {
  font-size: 40px !important;
  line-height: 1em !important;
  color: var(--color-2) !important;
}

.taskbar-bottom-icon:hover {
  color: var(--color-3) !important;
}

/* remove img from excerpt*/
.detail.col-md-8 img {
    display: none;
}

/* Popup modal */
#first_visit_Modal {
  display: none;
  position: fixed;
  top: 50%;
  padding: 30px;
  background-color: #fff;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  color: #000;
  box-shadow: 5px 5px 20px rgba(0,0,0,.5);
  z-index: 99999999;
}
