<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sản phẩm - Infless</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="../../css/shopfrontend.css">

</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/landing">
                    <img class="logo" src="../../img/logos/logo_infless_eye.png" alt="Logo">
                </a>

                <a id="shopping-cart-icon" class="nav-link" href="#">
                    <i class="fa fa-shopping-cart shopping-cart-icon" aria-hidden="true"></i>
                    <!--span class="red-dot"></span-->
                </a>
            </nav>
        </div>
    </header>

    <div class="page-content">
        <div class="container">
            <div class="row">
                <!-- Product Photo -->
                <div class="col-md-6">
                    <div class="slide-container">
                      <div class="product-img-thumbnails">
                        <div class="thumbnail-nav" id="thumbnail-nav-up">&#9650;</div>
                        <ul class="product-img-thumbnails-list" style="list-style: none;">
                          <li><img id="thumbnail-img-0" src="" class="img-thumbnail-item" onclick="changeMainImage('thumbnail-img-0')"></li>
                          <li><img id="thumbnail-img-1" src="" class="img-thumbnail-item" onclick="changeMainImage('thumbnail-img-1')"></li>
                          <li><img id="thumbnail-img-2" src="" class="img-thumbnail-item" onclick="changeMainImage('thumbnail-img-2')"></li>
                          <li><img id="thumbnail-img-3" src="" class="img-thumbnail-item" onclick="changeMainImage('thumbnail-img-3')"></li>
                          <li><img id="thumbnail-img-4" src="" class="img-thumbnail-item" onclick="changeMainImage('thumbnail-img-4')"></li>
                        </ul>
                        <div class="thumbnail-nav" id="thumbnail-nav-down">&#9660;</div>
                      </div>
                      <div id="product-img" class="product-img">
                          <div class="product-labels">
                              <span class="product-label product-sale" style="display:none;">Sale</span>
                              <span class="product-label product-new">New</span>
                              <span class="product-label product-discount" style="display:none;">-30%</span>
                          </div>
                          <div class="product-img-show">
                            <img src="../../img/hopsanpham.png" class="img-fluid" id="product-img-show-main">
                          </div>
                      </div>
                    </div>
                </div>
                <!-- Product Information -->
                <div class="col-md-6">
                    <h1 class="product-title">Hệ thống hỗ trợ giao dịch Infless</h1>
                    <div class="product-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>

                    <div class="product-price-group">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="product-price" id="product-price-value">2.500.000</span>
                            </div>
                            <div class="col-md-6">
                                <p class="product-stock">Kho hàng: <span id="in-stock-quantity">100</span></p>
                                <p class="product-code">Mã sản phẩm: <span id="product-code">12345</span></p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row align-items-center">
                        <div class="product-quantity-group">
                            <input type="text" class="product-quantity" id="product-quantity" value="1">
                            <div class="quantity-btns">
                                <button class="quantity-btn quantity-up" id="quantity-up"><i class="fas fa-angle-up"></i></button>
                                <button class="quantity-btn quantity-down" id="quantity-down"><i class="fas fa-angle-down"></i></button>
                            </div>
                        </div>
                        <button class="btn btn-primary product-add-to-cart" id="product-add-to-cart">Thêm vào giỏ hàng</button>
                        <button class="btn btn-success product-buy-now" id="product-buy-now">Mua ngay</button>
                    </div>

                    <div class="notification" id="notification">
                        <p>Sản phẩm đã được thêm vào giỏ hàng</p>
                        <div class="noti-buttons">
                            <button class="view-cart-btn" id="view-cart-btn">Xem giỏ hàng</button>
                            <button class="continue-shopping-btn" id="continue-shopping-btn">Tiếp tục mua hàng</button>
                        </div>
                    </div>

                    <div class="notification" id="server-message-success" style="display: none;">Success message from server</div>
                    <div class="notification-error" id="server-message-error" style="display: none;">Error message from server</div>

                </div>
            </div>
            <hr>
            <!-- Product Tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link tab-header active" data-tab="tab1" href="#tab1" role="tab">Thông tin giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tab-header" data-tab="tab2" href="#tab2" role="tab">Đánh giá</a>
                </li>
            </ul>

            <div class="tab-content active" data-tab="tab1" role="tabpanel">
                <h2 class="product-title">Đặc điểm chung của sản phẩm</h2>
                <h3 class="product-subtitle">1. Cấu tạo sản phẩm</h3>
                <p>Phần mềm được viết trên Amibroker- một phần mềm phân tích kỹ thuật được sử dụng rộng rãi bởi các nhà đầu tư, các chuyên gia trong ngành chứng khoán (Việt Nam, quốc tế). Gồm các chỉ báo được xây dựng bởi đội ngũ chuyên gia của công ty cổ phần Infless Investment.</p>
                <p>Bộ chỉ báo của Infless gồm 07 chỉ báo, với các tính năng, công dụng khác nhau.</p>
                <table class="product-desc-table">
                  <thead>
                    <tr>
                      <th>Chỉ báo</th>
                      <th>Cấu tạo</th>
                      <th>Công dụng chi tiết</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Chỉ báo mua bán nâng cao ABS</td>
                      <td>
                        <p>Được tạo nên bởi 03 yếu tố chính</p>
                        <ul>
                          <li>Dải màu xanh lá của xu hướng uptrend và dải màu tím của xu hướng downtrend</li>
                          <li>Đường mua tại, đường bán tại, kèm theo các mục về Chốt lời, Cắt lỗ cho từng lệnh</li>
                          <li>Các mũi tên biểu hiện lệnh màu tím (lệnh mua), xanh dương (lệnh bán) và các mũi tên rỗng (lệnh nhanh)</li>
                        </ul>
                      </td>
                      <td>
                        <ul>
                          <li>Đưa ra cái nhìn tổng quát về thị trường</li>
                          <li>Xác định các ngưỡng hỗ trợ kháng cự quan trọng</li>
                          <li>Xác định các vùng mua, bán có kèm Chốt lời, Cắt lỗ cho từng lệnh</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td>Chỉ báo tốc độ giá – tương quan cung cầu SPI</td>
                      <td>
                        <p>Được tạo thành từ tổ hợp các nến</p>
                        <ul>
                          <li>Nến đỏ: Biểu thị tốc độ giá giảm</li>
                          <li>Nến xanh: Biểu thị tốc độ giá tăng</li>
                        </ul>
                      </td>
                      <td>
                        <ul>
                          <li>Tìm điểm mua bán ngắn hạn</li>
                          <li>Xác định điểm đảo chiều</li>
                          <li>Xác định cường độ của xu hướng</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td>Chỉ báo xu hướng IRB</td>
                      <td>
                        <p>Xây dựng bởi các nhóm đường nhiều màu sắc như cầu vồng, mỗi nhóm màu đại diện cho một xu hướng- cũng chính là các vùng hỗ trợ, kháng cự của giá.</p>
                        <ul>
                          <li>Nhóm đường màu đỏ mô phỏng xu hướng ngắn hạn.</li>
                          <li>Đường màu xanh lá cây là đường trung tâm, là đường hỗ trợ mua bán cho xu hướng ngắn hạn</li>
                          <li>Nhóm đường màu vàng mô phỏng xu hướng trung ngắn hạn.</li>
                          <li>Nhóm đường màu xanh lam mô phỏng xu hướng trung dài hạn.</li>
                          <li>Nhóm đường màu trắng mô phỏng xu hướng dài hạn.</li>
                          <li>Nhóm đường màu tím và nhóm đường màu xanh lục mô phỏng xu hướng siêu dài hạn</li>
                        </ul>
                      </td>
                      <td>
                        <ul>
                          <li>Đưa ra cái nhìn tổng quát về xu hướng thị trường (ngắn hạn, trung hạn và dài hạn).</li>
                          <li>Xác định vùng kháng cự, hỗ trợ quan trọng.</li>
                          <li>Phân tích chuyên sâu giúp nhà đầu tư nhìn được dòng tiền và định lượng được sức mạnh của các thành phần tham gia trong thị trường</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td>Chỉ báo dòng tiền AMF</td>
                      <td>
                        <p>Gồm 02 thành phần:</p>
                        <ul>
                          <li>Phân tích dòng tiền đầu cơ.</li>
                          <li>Phân tích dòng tiền đầu cơ.</li>
                        </ul>
                        <p>Trong mỗi thành phần gồm có cột giá trị cường độ (màu xanh lá cây, màu xanh lam và màu đỏ) và đường tín hiệu.</p>
                        <ul>
                          <li>Đường giá trị màu xanh lá cây: Tiền vào.</li>
                          <li>Đường màu xanh lam: Tiền đang luân chuyển.</li>
                          <li>Đường màu đỏ :Tiền được rút ra.</li>
                        </ul>
                      </td>
                      <td>
                        <ul>
                          <li>Xác định vùng mua bán.</li>
                          <li>Nhận biết được các dòng tiền khi tham gia thị trường.</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td>Chỉ báo KDJ</td>
                      <td>
                        <p>Gồm những tính năng ưu việt của RSI và trung bình động. Thể hiện qua 03 đường</p>
                        <ul>
                          <li>Đường %K màu vàng </li>
                          <li>Đường %D màu xanh lam.</li>
                          <li>Đường J màu đỏ nét đặc</li>
                        </ul>
                      </td>
                      <td>
                        <ul>
                          <li>Xác định vùng mua bán</li>
                          <li>Xác định điểm đảo chiều</li>
                          <li>Xác định cường độ của xu hướng</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td>Chỉ báo VAP</td>
                      <td>Đồ thị gồm giá dạng nến và những thanh chữ nhật ngang màu xanh. Những thanh ngang màu xanh đại diện cho khối lượng tại mức giá đó.</td>
                      <td>
                        <ul>
                          <li>Tìm vùng giá phân phối đỉnh, tạo đáy.</li>
                          <li>Xác định vùng kháng cự hỗ trợ</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td>Chỉ báo FIBO và Bộ dò sóng SWR</td>
                      <td>
                        <p>Gồm 02 phần</p>
                        <ul>
                          <li>Chỉ báo FIBO hay chỉ báo Fibonacci : đây là một chỉ báo phổ biến, và được cung cấp miễn phí ở nhiều nền tảng</li>
                          <li>Bộ dò sóng: gồm các đường đỏ, xanh biển, vàng.</li>
                        </ul>
                      </td>
                      <td>
                        <ul>
                          <li>Xác định vùng kháng cự hỗ trợ</li>
                          <li>Xác định vùng đỉnh, đáy</li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <h3 class="product-subtitle">2. Tính năng sản phẩm</h3>
                <p>Tham gia đầu tư chứng khoán, công việc thường nhật, gần như lặp đi lặp lại của tất cả các nhà đầu tư hay các chuyên gia, đó là tìm ra “Cơ hội” trên thị trường chứng khoán. Cơ hội này thực ra chính là các cổ phiếu. Vậy một cổ phiếu như thế nào được coi là cơ hội? Không phải điều gì cao siêu, cơ hội nằm trong “Sự tăng giá của cổ phiếu” hay những cổ phiếu sắp tăng là điều mà mọi người đang tìm kiếm</p>
                <p>Những yếu tố quan trọng nhất với “Sự tăng giá cổ phiếu” được tổng hợp gọn gàng, biểu hiện bởi các dạng dải màu, đường nét, thông tin cụ thể, dễ hiểu, dễ nắm bắt.</p>
                <p>Hệ thống <strong>đưa ra cái nhìn trực quan về một cổ phiếu, từ tổng thể tới chi tiết</strong>, giúp nhà đầu tư <strong>nắm bắt toàn bộ chỉ sau vài phút</strong>. Phù hợp với tất cả mọi người, từ các nhà đầu tư từ không chuyên đến các nhà đầu tư chuyên nghiệp đều có thể sử dụng thành thạo</p>
                <p>Với bộ 07 chỉ báo, mỗi chỉ báo sẽ đem lại một công dụng chi tiết khác nhau. Nổi bật hơn cả là những yếu tố quan trọng nhất, những điều nhà đầu tư cần biết nhất khi tham gia giao dịch cổ phiếu, đó là 04 chỉ báo đầu tiên ABS, SPI, IRB, AMF. Cụ thể các chỉ báo cho biết: <strong>điểm mua-bán cụ thể, mức chốt lời/ cắt lỗ cho từng lệnh, tương quan cung-cầu hay chính là tương quan giữa phe bán và phe mua, xu hướng cổ phiếu và cuối cùng là dòng tiền</strong>. Ngoài ra, những chỉ báo còn lại có tác dụng bổ trợ, xác nhận thêm về kết luận đã đưa ra, bao gồm 03 chỉ báo KDJ, VAP, FIBO+ Bộ dò sóng</p>
                <p>Hãy thử kết hợp các nhóm chỉ báo với nhau, để tự mình <strong>xây dựng một chiến thuật đầu tư phù hợp</strong> với nhu cầu nhé. Từ <strong>ngắn hạn, trung hạn, dài hạn</strong>, hệ thống đều phát huy hiệu quả tối đa. Thực sự tuyệt vời</p>
                <h3 class="product-subtitle">3. Lợi ích sản phẩm giải quyết nhu cầu gì của Khách hàng => Lợi thế cạnh tranh</h3>
                <p>Khi sử dụng hệ thống và sự kết hợp các chỉ báo, mỗi cổ phiếu như một bức tranh rõ ràng, đưa ra những góc nhìn tổng thể, nhưng cũng rất chi tiết, giúp các nhà đầu tư <strong>đưa ra quyết định đầu tư một cách rõ ràng, có chiến thuật</strong>. Hệ thống giúp khách hàng <strong>tăng tỷ lệ đúng</strong> trong việc tìm ra cơ hội ở các cổ phiếu. Với chiến thuật đã được hình thành trước, nhà đầu tư có thể quản trị rủi ro tốt hơn, <strong>bảo toàn lãi và hạn chế lỗ</strong> một cách tối đa.</p>
                <p>Hệ thống cũng là <strong>“điểm tựa”</strong> mỗi khi có sự hoang mang, lo lắng khi nắm giữ cổ phiếu. Vì lúc này, nhà đầu tư nắm giữ cổ phiếu với tâm thế: tôi hiểu rõ về cổ phiếu này, rủi ro nằm trong mức tôi chấp nhận được, và tôi thấy cơ hội đang lớn hơn rất nhiều so với rủi ro! Khi bạn hiểu về cổ phiếu mà mình đang nắm giữ, bạn sẽ không còn sợ những cú lừa của thị trường. Đơn giản là bạn biết rõ đích đến là đâu, bạn cần làm gì lúc này. Cũng giống như khi đi trên đường vậy, đường về nhà lúc nào cũng ngắn hơn đường phải đi, đúng không? Vì khi ta hiểu rõ, ta sẽ không còn sợ hãi nữa!</p>
                <p>Thay vì lặp đi lặp lại các hành động giống nhau, ngồi lần mò từng cổ phiếu, kẻ vẽ vu vơ theo những hướng dẫn chung chung được tìm thấy trên internet. Giờ đây, hệ thống Infess ra đời đã cung cấp một công cụ mạnh hơn, <strong>giảm bớt những công việc lặp lại ấy</strong>. Mỗi bức tranh phân tích, được hiện ra chỉ sau một nút bấm chuyển. Hệ thống là công cụ hỗ trợ đắc lực, giảm thiểu khối lượng lớn công việc trong quá trình đầu tư. Đặc biệt thích hợp với những nhà đầu tư mới, những nhà đầu tư không chuyên, hoặc vẫn đang mải mê tìm kiếm một phương pháp phù hợp. Infless sẽ đem đến câu trả lời dành cho mọi người!s</p>
                <p>Mang trong mình nhiều tính năng và tiện ích như vậy, nhưng hệ thống lại có một <strong>giao diện cực kỳ thân thiện với người dùng</strong>. Các thao tác cài đặt được thực hiện đơn giản như khi cài đặt một phần mềm thông dụng (như Cốc Cốc, Google Chrome,..). Bạn chỉ cần chuẩn bị một chiếc laptop với hệ điều hành Windows (tạm thời chưa có phiên bản trên Mac OS). Tất nhiên, bất cứ vấn đề nào với vấn đề cài đặt và gia hạn, sử dụng, hãy liên hệ ngay với Infless, đội hỗ trợ của chúng tôi luôn sẵn sàng hỗ trợ tận tình tới các khách hàng.</p>
                <p>Với bộ 07 chỉ báo, bao gồm 04 chỉ báo chính, 03 chỉ báo phụ, người sử dụng sẽ <strong>dễ dàng tiếp cận, dễ dàng học và dùng ngay</strong> trong thực chiến đầu tư. Bộ sản phẩm đi kèm hướng dẫn sử dụng chi tiết và đầy đủ. Ngoài ra, đội hỗ trợ cũng sẵn sàng giải đáp các thắc mắc, trăn trở, những câu hỏi của quý khách hàng. Bên cạnh đó, các kênh thương mại điện tử, mạng xã hội, cũng luôn được Infless update những thông tin mới nhất về kiến thức đầu tư, những bài học, kinh nghiệm thực chiến, các tips sử dụng hệ thống hiệu quả, là kho dữ liệu tham khảo cực kỳ hữu ích cho các nhà đầu tư. Hãy theo dõi Infless trên tất cả các nền tảng Facebook, Youtube, Tiktok, Zalo nhé!</p>
            </div>
            <div class="tab-content" data-tab="tab2" role="tabpanel">

                <ul>
                    <li>
                        <p class="reviewer">Người dùng A</p>

                        <div class="review-rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p class="review-content">Sản phẩm rất tốt, tôi rất hài lòng với nó.</p>
                    </li>
                    <li>
                        <p class="reviewer">Người dùng B</p>

                        <div class="review-rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p class="review-content">Sản phẩm có các tính năng độc đáo và hữu ích.</p>
                    </li>
                    <li>
                        <p class="reviewer">Người dùng C</p>

                        <div class="review-rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p class="review-content">Giá cả của sản phẩm là rất hợp lý so với những gì nó cung cấp.</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>


    <!-- Cart Modal -->
    <div class="modal" id="cart-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Giỏ hàng</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover" id="orders-table"></table>
                    <form>
                        <div class="form-group">
                            <label for="coupon">Mã giảm giá</label>
                            <input type="text" class="form-control" id="coupon">
                        </div>
                        <div id="coupon-detail" style="display: none;"></div>
                        <div id="coupon-btn" class="btn btn-primary">Áp dụng</div>
                    </form>
                    <div class="mt-3">
                        <h6 class="d-inline-block">Giá trị đơn hàng: </h6>
                        <h4 class="d-inline-block" id="cart-payment-total"></h4>
                        <button type="button" id="btn-payment-open" class="btn btn-success float-right">Thanh toán</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Payment Modal -->
    <div class="modal" id="paymentModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thanh toán</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <p>Quý khách vui lòng thanh toán theo thông tin dưới đây</p>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul>
                                        <li>Chủ tài khoản: <span class="payment-detail">Bùi Minh Hải</span></li>
                                        <li>Số tài khoản: <span class="payment-detail">1221 0000 607667</span></li>
                                        <li>Ngân hàng: <span class="payment-detail">BIDV - CN Hà Thành</span></li>
                                        <li>Số tiền: <span class="payment-detail" id="payment-money"></span> đồng (<span id="payment-money-spell"></span> đồng)</li>
                                        <li>Nội dung thanh toán: <span class="payment-detail">Thanh toán đơn hàng <span id="bill-code"></span></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <img class="img-fluid" src="../../img/Logo_BIDV.png" alt="" style="height:60%;margin: 0 auto;display: block;">
                                </div>
                            </div>
                        </div>
                        <p>Hoặc:</p>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul>
                                        <li>Chủ tài khoản: <span class="payment-detail">Bùi Minh Hải</span></li>
                                        <li>Số tài khoản: <span class="payment-detail">190 296 6878 6668</span></li>
                                        <li>Ngân hàng: <span class="payment-detail">Techcombank</span></li>
                                        <li>Số tiền: <span class="payment-detail" id="payment-money-2"></span> đồng (<span id="payment-money-spell-2"></span> đồng)</li>
                                        <li>Nội dung thanh toán: <span class="payment-detail">Thanh toán đơn hàng <span id="bill-code-2"></span></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <img class="img-fluid" src="../../img/Logo_TCB.png" alt="" style="height:60%;margin: 0 auto;display: block;">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="back-to-cart" class="btn btn-success">Quay lại đơn hàng</button>
                    <button type="button" class="btn btn-secondary btn-close" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary btn-close" id="shop-done-btn">OK</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
      <div id="FOOTER" class="ladi-section">
            <div class="ladi-section-background"></div>
            <div class="ladi-container">
                <div id="GROUP362" class="ladi-element">
                    <div class="ladi-group">
                        <div id="HEADLINE360" class="ladi-element">
                            <h3 class="ladi-headline">CÔNG TY CỔ PHẦN INFLESS INVESTMENT<br></h3>
                        </div>
                        <div id="HEADLINE361" class="ladi-element">
                            <h3 class="ladi-headline">Địa chỉ: Tầng 2, Số 59 Ngõ 112 Mễ Trì Thượng, Nam Từ Liêm, Hà Nội<br>Email: contact@infless.vn - Điện thoại: 0964.155.464
                                <br>Website: https://infless.com.vn/<br></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src="../../js/shopfrontend.js"></script>
    <script>
      /* Preload images */
      const productImgList = <%- '["hopsanpham.png","abs-laptop.jpg","spi-laptop.jpg","irb-laptop.jpg","amf-laptop.jpg","kdj-laptop.jpg","vap-desktop.jpg","fibo-laptop.jpg"]' %>;
      for (var i = 0; i<5; i++) {
        const img = document.getElementById("thumbnail-img-" + i);
        img.setAttribute('src',"../../img/"+ productImgList[i]);
      }
      document.getElementById("product-img-show-main").setAttribute('src',"../../img/"+ productImgList[0]);

      /* Thumbnail up down button */
      const thumbUpBtn = document.getElementById("thumbnail-nav-up");
      const thumbDownBtn = document.getElementById("thumbnail-nav-down");
      let upStart = 0;
      let downStart = 0;
      thumbUpBtn.addEventListener('click', function() {
        upStart ++;
        for (var i = 0; i<5; i++) {
          const img = document.getElementById("thumbnail-img-" + i);
          img.setAttribute('src',"../../img/"+ productImgList[(i + upStart % productImgList.length) % productImgList.length]);
        }
      });
      thumbDownBtn.addEventListener('click', function() {
        downStart ++;
        for (var i = 0; i<5; i++) {
          const img = document.getElementById("thumbnail-img-" + i);
          const index = (i + (productImgList.length * 2 - (downStart % productImgList.length)) % productImgList.length) % productImgList.length;
          img.setAttribute('src',"../../img/"+ productImgList[index]);
          //console.log(index, productImgList[index]) ;
        }
        //console.log(downStart, downStart % productImgList.length, productImgList[(productImgList.length * 2 - (downStart % productImgList.length)) % 5]) ;
      });

      function changeMainImage(clickedImageId) {
        const clickedImage = document.getElementById(clickedImageId);
        const mainImage = document.getElementById('product-img-show-main');
        mainImage.src = clickedImage.src;
      }
    </script>
    <!-- API -->
    <script type="module" src="../../js/shopapi.js"></script>
</body>

</html>
