<!DOCTYPE html>
<html>
<head>
    <title>Cửa hàng - Infless</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="../../css/shopfrontend.css">

</head>
  <body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="../landing">
                    <img class="logo" src="../../img/logos/logo_infless_eye.png" alt="Logo">
                </a>
            </nav>
        </div>
    </header>

    <main>
      <section  id="product-list" class="product-list">
        <div class="container">
          <div class="row mt-3">
            <h3 id="" class="category-title ladi-headline text-center">Danh mục sản phẩm</h3>
          </div>
          <div class="row" id="product-row">
            <% for(var i=0; i<1; i++) { %>
            <div class="col-lg-4 col-md-6 col-12 mt-3 mb-3">
              <div class="card">
                <div class="category-product-img" style="background: url(../../img/hopsanpham.png) no-repeat center center / 100% auto;">
                  <!--img class="" src="../../img/hopsanpham.png" alt="infless-stock-trading-support-system"-->
                </div>
                <div class="card-body">
                  <h5 class="card-title">Hệ thống hỗ trợ giao dịch Infless</h5>
                  <p class="card-text">Phần mềm được viết trên Amibroker- một phần mềm phân tích kỹ thuật được sử dụng rộng rãi bởi các nhà đầu tư, các chuyên gia trong ngành chứng khoán (Việt Nam, quốc tế)...</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="stars-rating">
                      <!-- Stars rating content goes here -->
                    </div>
                    <a href="shop-single/" class="btn btn-crimson">Xem chi tiết</a>
                  </div>
                </div>
              </div>
            </div>
            <% } %>


          </div>
        </div>
        <div class="pagination-buttons">
          <nav>
            <ul class="pagination justify-content-center" id="pagination">
            </ul>
          </nav>
        </div>

      </section>
    </main>

    <footer>
      <div id="FOOTER" class="ladi-section">
            <div class="ladi-section-background"></div>
            <div class="ladi-container">
                <div id="GROUP362" class="ladi-element">
                    <div class="ladi-group">
                        <div id="HEADLINE360" class="ladi-element">
                            <h3 class="ladi-headline">CÔNG TY CỔ PHẦN INFLESS INVESTMENT<br></h3>
                        </div>
                        <div id="HEADLINE361" class="ladi-element">
                            <h3 class="ladi-headline">Địa chỉ: Tầng 2, Số 59 Ngõ 112 Mễ Trì Thượng, Nam Từ Liêm, Hà Nội<br>Email: contact@infless.vn - Điện thoại: 0964.155.464
                                <br>Website: https://infless.com.vn/<br></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Pagination -->
    <!--script src="../../js/shopcategory.js"></script-->
  </body>
</html>
